<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_sVGfIF1REeeQSrn72MQqaA" specification="interface PoliceInterrupt:&#xA;  in event police&#xA;  &#xA;interface PriorityPolice:&#xA;  out event police&#xA;&#xA;interface SecondaryPolice:&#xA;  out event police&#xA;  &#xA;interface PriorityControl:&#xA;  out event toggle&#xA;  &#xA;interface SecondaryControl:&#xA;  out event toggle&#xA;  &#xA; internal:&#xA; &#x9;var a : integer" name="Controller">
    <regions xmi:id="_sVVvsl1REeeQSrn72MQqaA" name="main_region">
      <vertices xsi:type="sgraph:State" xmi:id="_KyARAF1TEeeQSrn72MQqaA" specification="" name="Operating" incomingTransitions="_VzwHMF1TEeeQSrn72MQqaA _bfV9wF1jEeeQSrn72MQqaA">
        <outgoingTransitions xmi:id="_bfV9wF1jEeeQSrn72MQqaA" specification="PoliceInterrupt.police / &#xD;&#xA;raise PriorityPolice.police;&#xD;&#xA;raise SecondaryPolice.police" target="_KyARAF1TEeeQSrn72MQqaA"/>
        <regions xmi:id="_KyBfIF1TEeeQSrn72MQqaA" name="operating">
          <vertices xsi:type="sgraph:State" xmi:id="_sVrG4V1REeeQSrn72MQqaA" specification="entry / &#xD;&#xA;&#x9;raise PriorityControl.toggle" name="Init" incomingTransitions="_SMTsIF1jEeeQSrn72MQqaA">
            <outgoingTransitions xmi:id="_aLjDUF1SEeeQSrn72MQqaA" specification="after 2s" target="_aLVA4F1SEeeQSrn72MQqaA"/>
            <regions xmi:id="_-tdWoERqEeqeOYp1qFQ-cA" name="r">
              <vertices xsi:type="sgraph:Entry" xmi:id="_CoEyEERrEeqeOYp1qFQ-cA">
                <outgoingTransitions xmi:id="_DDydsERrEeqeOYp1qFQ-cA" specification="" target="_DDpTwERrEeqeOYp1qFQ-cA"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_DDpTwERrEeqeOYp1qFQ-cA" name="G_" incomingTransitions="_DDydsERrEeqeOYp1qFQ-cA"/>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_aLVA4F1SEeeQSrn72MQqaA" specification="entry / raise PriorityControl.toggle" name="PriorityPrepares" incomingTransitions="_aLjDUF1SEeeQSrn72MQqaA _03nA0F1TEeeQSrn72MQqaA">
            <outgoingTransitions xmi:id="_9IOBkF1SEeeQSrn72MQqaA" specification="after 1s" target="_9IEQkF1SEeeQSrn72MQqaA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_9IEQkF1SEeeQSrn72MQqaA" specification="entry / raise PriorityControl.toggle;&#xD;&#xA;&#x9;raise SecondaryControl.toggle" name="Secondary" incomingTransitions="_9IOBkF1SEeeQSrn72MQqaA">
            <outgoingTransitions xmi:id="_gm3EcF1TEeeQSrn72MQqaA" specification="after 2s" target="_gmvIoF1TEeeQSrn72MQqaA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_gmvIoF1TEeeQSrn72MQqaA" specification="entry / raise SecondaryControl.toggle" name="SecondaryPrepares" incomingTransitions="_gm3EcF1TEeeQSrn72MQqaA">
            <outgoingTransitions xmi:id="_qwgN8F1TEeeQSrn72MQqaA" specification="after 1s" target="_qwXrEF1TEeeQSrn72MQqaA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_qwXrEF1TEeeQSrn72MQqaA" specification="entry / raise PriorityControl.toggle;&#xD;&#xA;&#x9;raise SecondaryControl.toggle" name="Priority" incomingTransitions="_qwgN8F1TEeeQSrn72MQqaA">
            <outgoingTransitions xmi:id="_03nA0F1TEeeQSrn72MQqaA" specification="after 2s [true != false]" target="_aLVA4F1SEeeQSrn72MQqaA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_RimAwF1jEeeQSrn72MQqaA" kind="SHALLOW_HISTORY">
            <outgoingTransitions xmi:id="_SMTsIF1jEeeQSrn72MQqaA" target="_sVrG4V1REeeQSrn72MQqaA"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_VCjTwF1TEeeQSrn72MQqaA">
        <outgoingTransitions xmi:id="_VzwHMF1TEeeQSrn72MQqaA" specification="" target="_KyARAF1TEeeQSrn72MQqaA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_sVVvsF1REeeQSrn72MQqaA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_sVGfIF1REeeQSrn72MQqaA" measurementUnit="Pixel">
    <children xmi:id="_sVgu0F1REeeQSrn72MQqaA" type="Region" element="_sVVvsl1REeeQSrn72MQqaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_sVm1cF1REeeQSrn72MQqaA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sVm1cV1REeeQSrn72MQqaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sVm1cl1REeeQSrn72MQqaA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_sVncgF1REeeQSrn72MQqaA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_KyCtQF1TEeeQSrn72MQqaA" type="State" element="_KyARAF1TEeeQSrn72MQqaA">
          <children xsi:type="notation:DecorationNode" xmi:id="_KyCtRF1TEeeQSrn72MQqaA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_KyCtRV1TEeeQSrn72MQqaA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_KyDUUF1TEeeQSrn72MQqaA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KyDUUV1TEeeQSrn72MQqaA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_KyDUUl1TEeeQSrn72MQqaA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KyDUU11TEeeQSrn72MQqaA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KyDUVF1TEeeQSrn72MQqaA" type="StateFigureCompartment">
            <children xmi:id="_KyKpEF1TEeeQSrn72MQqaA" type="Region" element="_KyBfIF1TEeeQSrn72MQqaA">
              <children xsi:type="notation:DecorationNode" xmi:id="_KyLQIF1TEeeQSrn72MQqaA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_KyLQIV1TEeeQSrn72MQqaA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_KyLQIl1TEeeQSrn72MQqaA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_KyL3MF1TEeeQSrn72MQqaA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_sVsVAV1REeeQSrn72MQqaA" type="State" element="_sVrG4V1REeeQSrn72MQqaA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_sVtjIF1REeeQSrn72MQqaA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_sVtjIV1REeeQSrn72MQqaA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_sVtjIl1REeeQSrn72MQqaA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_sVuKMF1REeeQSrn72MQqaA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_sVuxQF1REeeQSrn72MQqaA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sVuxQV1REeeQSrn72MQqaA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_sVvYUF1REeeQSrn72MQqaA" type="StateFigureCompartment">
                    <children xmi:id="_-tdWoURqEeqeOYp1qFQ-cA" type="Region" element="_-tdWoERqEeqeOYp1qFQ-cA">
                      <children xsi:type="notation:DecorationNode" xmi:id="_-tdWpERqEeqeOYp1qFQ-cA" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_-tdWpURqEeqeOYp1qFQ-cA"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_-tmgkERqEeqeOYp1qFQ-cA"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_-tmgkURqEeqeOYp1qFQ-cA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_CoEyEURrEeqeOYp1qFQ-cA" type="Entry" element="_CoEyEERrEeqeOYp1qFQ-cA">
                          <children xmi:id="_CoEyFURrEeqeOYp1qFQ-cA" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_CoEyGERrEeqeOYp1qFQ-cA" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_CoEyGURrEeqeOYp1qFQ-cA"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_CoEyGkRrEeqeOYp1qFQ-cA"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_CoEyFkRrEeqeOYp1qFQ-cA" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CoEyF0RrEeqeOYp1qFQ-cA"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_CoEyEkRrEeqeOYp1qFQ-cA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_CoEyE0RrEeqeOYp1qFQ-cA" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CoEyFERrEeqeOYp1qFQ-cA" x="42"/>
                        </children>
                        <children xmi:id="_DDpTw0RrEeqeOYp1qFQ-cA" type="State" element="_DDpTwERrEeqeOYp1qFQ-cA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_DDpTx0RrEeqeOYp1qFQ-cA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_DDpTyERrEeqeOYp1qFQ-cA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_DDpTyURrEeqeOYp1qFQ-cA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_DDpTykRrEeqeOYp1qFQ-cA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_DDpTy0RrEeqeOYp1qFQ-cA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DDpTzERrEeqeOYp1qFQ-cA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_DDpTzURrEeqeOYp1qFQ-cA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_DDpTxERrEeqeOYp1qFQ-cA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_DDpTxURrEeqeOYp1qFQ-cA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DDpTzkRrEeqeOYp1qFQ-cA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DDpTxkRrEeqeOYp1qFQ-cA" x="122" y="-16"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-tmgkkRqEeqeOYp1qFQ-cA"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_-tdWokRqEeqeOYp1qFQ-cA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-tdWo0RqEeqeOYp1qFQ-cA"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_sVs8EF1REeeQSrn72MQqaA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_sVs8EV1REeeQSrn72MQqaA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_sV5JUF1REeeQSrn72MQqaA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sV6XcF1REeeQSrn72MQqaA" x="68" width="214" height="160"/>
                </children>
                <children xmi:id="_aLYEMF1SEeeQSrn72MQqaA" type="State" element="_aLVA4F1SEeeQSrn72MQqaA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_aLZSUF1SEeeQSrn72MQqaA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aLZSUV1SEeeQSrn72MQqaA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_aLZ5YF1SEeeQSrn72MQqaA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aLZ5YV1SEeeQSrn72MQqaA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_aLagcF1SEeeQSrn72MQqaA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aLagcV1SEeeQSrn72MQqaA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_aLagcl1SEeeQSrn72MQqaA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aLYEMV1SEeeQSrn72MQqaA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_aLYEMl1SEeeQSrn72MQqaA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aLbHgF1SEeeQSrn72MQqaA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aLYEM11SEeeQSrn72MQqaA" x="14" y="201" width="248" height="53"/>
                </children>
                <children xmi:id="_9IGFwF1SEeeQSrn72MQqaA" type="State" element="_9IEQkF1SEeeQSrn72MQqaA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_9IGs0F1SEeeQSrn72MQqaA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_9IGs0V1SEeeQSrn72MQqaA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_9IHT4F1SEeeQSrn72MQqaA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_9IJJEF1SEeeQSrn72MQqaA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_9IJwIF1SEeeQSrn72MQqaA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9IJwIV1SEeeQSrn72MQqaA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_9IKXMF1SEeeQSrn72MQqaA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_9IGFwV1SEeeQSrn72MQqaA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_9IGFwl1SEeeQSrn72MQqaA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9IKXMV1SEeeQSrn72MQqaA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9IGFw11SEeeQSrn72MQqaA" x="12" y="297" width="253" height="63"/>
                </children>
                <children xmi:id="_gmwWwF1TEeeQSrn72MQqaA" type="State" element="_gmvIoF1TEeeQSrn72MQqaA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_gmw90F1TEeeQSrn72MQqaA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_gmw90V1TEeeQSrn72MQqaA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_gmw90l1TEeeQSrn72MQqaA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gmw9011TEeeQSrn72MQqaA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_gmw91F1TEeeQSrn72MQqaA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gmw91V1TEeeQSrn72MQqaA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gmxk4F1TEeeQSrn72MQqaA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_gmwWwV1TEeeQSrn72MQqaA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_gmwWwl1TEeeQSrn72MQqaA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gmxk4V1TEeeQSrn72MQqaA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gmwWw11TEeeQSrn72MQqaA" x="3" y="405" width="270" height="53"/>
                </children>
                <children xmi:id="_qwY5MF1TEeeQSrn72MQqaA" type="State" element="_qwXrEF1TEeeQSrn72MQqaA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qwZgQF1TEeeQSrn72MQqaA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qwZgQV1TEeeQSrn72MQqaA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qwZgQl1TEeeQSrn72MQqaA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qwaHUF1TEeeQSrn72MQqaA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qwaHUV1TEeeQSrn72MQqaA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qwaHUl1TEeeQSrn72MQqaA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qwaHU11TEeeQSrn72MQqaA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qwY5MV1TEeeQSrn72MQqaA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qwY5Ml1TEeeQSrn72MQqaA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qwauYF1TEeeQSrn72MQqaA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qwY5M11TEeeQSrn72MQqaA" x="21" y="561" width="253" height="63"/>
                </children>
                <children xmi:id="_Rin18F1jEeeQSrn72MQqaA" type="ShallowHistory" element="_RimAwF1jEeeQSrn72MQqaA">
                  <children xmi:id="_RiodAF1jEeeQSrn72MQqaA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_RiodA11jEeeQSrn72MQqaA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_RiodBF1jEeeQSrn72MQqaA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_RiodBV1jEeeQSrn72MQqaA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_RiodAV1jEeeQSrn72MQqaA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RiodAl1jEeeQSrn72MQqaA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Rin18V1jEeeQSrn72MQqaA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_Rin18l1jEeeQSrn72MQqaA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Rin1811jEeeQSrn72MQqaA" x="14" y="41" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KyL3MV1TEeeQSrn72MQqaA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_KyKpEV1TEeeQSrn72MQqaA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KyKpEl1TEeeQSrn72MQqaA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_KyCtQV1TEeeQSrn72MQqaA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_KyCtQl1TEeeQSrn72MQqaA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_KyDUVV1TEeeQSrn72MQqaA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KyCtQ11TEeeQSrn72MQqaA" x="49" y="42" width="458" height="716"/>
        </children>
        <children xmi:id="_VCkh4F1TEeeQSrn72MQqaA" type="Entry" element="_VCjTwF1TEeeQSrn72MQqaA">
          <children xmi:id="_VClI8F1TEeeQSrn72MQqaA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_VClI811TEeeQSrn72MQqaA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_VClI9F1TEeeQSrn72MQqaA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_VClI9V1TEeeQSrn72MQqaA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_VClI8V1TEeeQSrn72MQqaA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VClI8l1TEeeQSrn72MQqaA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_VCkh4V1TEeeQSrn72MQqaA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_VCkh4l1TEeeQSrn72MQqaA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VCkh411TEeeQSrn72MQqaA" x="276" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sVncgV1REeeQSrn72MQqaA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_sVgu0V1REeeQSrn72MQqaA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sVoDkF1REeeQSrn72MQqaA" x="220" y="10" width="873" height="811"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_sWAeEF1REeeQSrn72MQqaA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_sWBsMF1REeeQSrn72MQqaA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sWBsMV1REeeQSrn72MQqaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sWBsMl1REeeQSrn72MQqaA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_sWBsM11REeeQSrn72MQqaA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sWBsNF1REeeQSrn72MQqaA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sWCTQF1REeeQSrn72MQqaA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_sVVvsV1REeeQSrn72MQqaA"/>
    <edges xmi:id="_aLmGoF1SEeeQSrn72MQqaA" type="Transition" element="_aLjDUF1SEeeQSrn72MQqaA" source="_sVsVAV1REeeQSrn72MQqaA" target="_aLYEMF1SEeeQSrn72MQqaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_aLmtsV1SEeeQSrn72MQqaA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aLmtsl1SEeeQSrn72MQqaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aLmts11SEeeQSrn72MQqaA" x="-62" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aLmGoV1SEeeQSrn72MQqaA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aLmtsF1SEeeQSrn72MQqaA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aLmGol1SEeeQSrn72MQqaA" points="[-17, -12, 152, 98]$[-166, -108, 3, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__exe0ERqEeqeOYp1qFQ-cA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BcFgEERrEeqeOYp1qFQ-cA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_9IP2wF1SEeeQSrn72MQqaA" type="Transition" element="_9IOBkF1SEeeQSrn72MQqaA" source="_aLYEMF1SEeeQSrn72MQqaA" target="_9IGFwF1SEeeQSrn72MQqaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_9IQd0F1SEeeQSrn72MQqaA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9IQd0V1SEeeQSrn72MQqaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9IQd0l1SEeeQSrn72MQqaA" x="1" y="-57"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9IP2wV1SEeeQSrn72MQqaA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9IP2w11SEeeQSrn72MQqaA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9IP2wl1SEeeQSrn72MQqaA" points="[-15, -24, 134, 220]$[-147, -241, 2, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BcFgEURrEeqeOYp1qFQ-cA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BQ6K0ERrEeqeOYp1qFQ-cA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_VzxVUF1TEeeQSrn72MQqaA" type="Transition" element="_VzwHMF1TEeeQSrn72MQqaA" source="_VCkh4F1TEeeQSrn72MQqaA" target="_KyCtQF1TEeeQSrn72MQqaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Vzx8YV1TEeeQSrn72MQqaA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Vzx8Yl1TEeeQSrn72MQqaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Vzx8Y11TEeeQSrn72MQqaA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VzxVUV1TEeeQSrn72MQqaA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Vzx8YF1TEeeQSrn72MQqaA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VzxVUl1TEeeQSrn72MQqaA" points="[0, 7, -4, -49]$[7, 28, 3, -28]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Vz0YoF1TEeeQSrn72MQqaA" id="(0.4953271028037383,0.07577173060494487)"/>
    </edges>
    <edges xmi:id="_gm45oF1TEeeQSrn72MQqaA" type="Transition" element="_gm3EcF1TEeeQSrn72MQqaA" source="_9IGFwF1SEeeQSrn72MQqaA" target="_gmwWwF1TEeeQSrn72MQqaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_gm5gsV1TEeeQSrn72MQqaA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gm5gsl1TEeeQSrn72MQqaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gm5gs11TEeeQSrn72MQqaA" x="-2" y="-61"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gm45oV1TEeeQSrn72MQqaA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gm5gsF1TEeeQSrn72MQqaA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gm45ol1TEeeQSrn72MQqaA" points="[-17, -27, 120, 189]$[-135, -213, 2, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BQ6K0URrEeqeOYp1qFQ-cA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BHE5YERrEeqeOYp1qFQ-cA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_qwiDIF1TEeeQSrn72MQqaA" type="Transition" element="_qwgN8F1TEeeQSrn72MQqaA" source="_gmwWwF1TEeeQSrn72MQqaA" target="_qwY5MF1TEeeQSrn72MQqaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qwiqMV1TEeeQSrn72MQqaA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qwiqMl1TEeeQSrn72MQqaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qwiqM11TEeeQSrn72MQqaA" y="-57"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qwiDIV1TEeeQSrn72MQqaA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qwiqMF1TEeeQSrn72MQqaA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qwiDIl1TEeeQSrn72MQqaA" points="[-11, -24, 126, 274]$[-136, -295, 1, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BHE5YURrEeqeOYp1qFQ-cA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_A-4msERrEeqeOYp1qFQ-cA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_03oO8F1TEeeQSrn72MQqaA" type="Transition" element="_03nA0F1TEeeQSrn72MQqaA" source="_qwY5MF1TEeeQSrn72MQqaA" target="_aLYEMF1SEeeQSrn72MQqaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_03o2AV1TEeeQSrn72MQqaA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_03o2Al1TEeeQSrn72MQqaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_03o2A11TEeeQSrn72MQqaA" x="-14" y="4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_03oO8V1TEeeQSrn72MQqaA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_03o2AF1TEeeQSrn72MQqaA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_03oO8l1TEeeQSrn72MQqaA" points="[0, -8, 27, 247]$[78, -8, 105, 247]$[78, -248, 105, 7]$[-9, -248, 18, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_03rSQF1TEeeQSrn72MQqaA" id="(1.0,0.6440677966101694)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_03rSQV1TEeeQSrn72MQqaA" id="(0.925,0.4150943396226416)"/>
    </edges>
    <edges xmi:id="_SMX9kF1jEeeQSrn72MQqaA" type="Transition" element="_SMTsIF1jEeeQSrn72MQqaA" source="_Rin18F1jEeeQSrn72MQqaA" target="_sVsVAV1REeeQSrn72MQqaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_SMYkoV1jEeeQSrn72MQqaA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SMYkol1jEeeQSrn72MQqaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SMYko11jEeeQSrn72MQqaA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SMX9kV1jEeeQSrn72MQqaA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SMYkoF1jEeeQSrn72MQqaA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SMX9kl1jEeeQSrn72MQqaA" points="[1, 11, 2, -24]$[4, 25, 5, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_B0YEQERrEeqeOYp1qFQ-cA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SMc2EF1jEeeQSrn72MQqaA" id="(0.47107438016528924,0.11864406779661019)"/>
    </edges>
    <edges xmi:id="_bfXy8F1jEeeQSrn72MQqaA" type="Transition" element="_bfV9wF1jEeeQSrn72MQqaA" source="_KyCtQF1TEeeQSrn72MQqaA" target="_KyCtQF1TEeeQSrn72MQqaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_bfXy9F1jEeeQSrn72MQqaA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bfXy9V1jEeeQSrn72MQqaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bfXy9l1jEeeQSrn72MQqaA" x="2" y="-98"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bfXy8V1jEeeQSrn72MQqaA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bfXy811jEeeQSrn72MQqaA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bfXy8l1jEeeQSrn72MQqaA" points="[0, 177, 6, -8]$[99, 177, 105, -8]$[99, 262, 105, 77]$[0, 262, 6, 77]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bfZoIF1jEeeQSrn72MQqaA" id="(0.9781659388646288,0.2122905027932961)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tJhhoERxEeq5w_2GmcFEcw" id="(0.9956331877729258,0.4036312849162011)"/>
    </edges>
    <edges xmi:id="_DDydsURrEeqeOYp1qFQ-cA" type="Transition" element="_DDydsERrEeqeOYp1qFQ-cA" source="_CoEyEURrEeqeOYp1qFQ-cA" target="_DDpTw0RrEeqeOYp1qFQ-cA">
      <children xsi:type="notation:DecorationNode" xmi:id="_DDydtURrEeqeOYp1qFQ-cA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DDydtkRrEeqeOYp1qFQ-cA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DDydt0RrEeqeOYp1qFQ-cA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DDydskRrEeqeOYp1qFQ-cA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DDydtERrEeqeOYp1qFQ-cA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DDyds0RrEeqeOYp1qFQ-cA" points="[-7, -1, 45, 9]$[-49, -10, 3, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DaJIMERrEeqeOYp1qFQ-cA" id="(0.5,0.5)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
