<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated statechart -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hu.bme.mit.gamma.statechart.model.presentation.StatechartModelModelWizardID"
            name="%_UI_StatechartModelModelWizard_label"
            class="hu.bme.mit.gamma.statechart.model.presentation.StatechartModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StatechartModelModelFile.gif">
         <description>%_UI_StatechartModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statechart -->
      <editor
            id="hu.bme.mit.gamma.statechart.model.presentation.StatechartModelEditorID"
            name="%_UI_StatechartModelEditor_label"
            icon="icons/full/obj16/StatechartModelModelFile.gif"
            extensions="gsm"
            class="hu.bme.mit.gamma.statechart.model.presentation.StatechartModelEditor"
            contributorClass="hu.bme.mit.gamma.statechart.model.presentation.StatechartModelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated statechart -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hu.bme.mit.gamma.statechart.model.interface_.presentation.InterfaceModelWizardID"
            name="%_UI_InterfaceModelWizard_label"
            class="hu.bme.mit.gamma.statechart.model.interface_.presentation.InterfaceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InterfaceModelFile.gif">
         <description>%_UI_InterfaceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statechart -->
      <editor
            id="hu.bme.mit.gamma.statechart.model.interface_.presentation.InterfaceEditorID"
            name="%_UI_InterfaceEditor_label"
            icon="icons/full/obj16/InterfaceModelFile.gif"
            extensions="gim"
            class="hu.bme.mit.gamma.statechart.model.interface_.presentation.InterfaceEditor"
            contributorClass="hu.bme.mit.gamma.statechart.model.interface_.presentation.InterfaceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated statechart -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hu.bme.mit.gamma.statechart.model.composite.presentation.CompositeModelWizardID"
            name="%_UI_CompositeModelWizard_label"
            class="hu.bme.mit.gamma.statechart.model.composite.presentation.CompositeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CompositeModelFile.gif">
         <description>%_UI_CompositeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statechart -->
      <editor
            id="hu.bme.mit.gamma.statechart.model.composite.presentation.CompositeEditorID"
            name="%_UI_CompositeEditor_label"
            icon="icons/full/obj16/CompositeModelFile.gif"
            extensions="gcsm"
            class="hu.bme.mit.gamma.statechart.model.composite.presentation.CompositeEditor"
            contributorClass="hu.bme.mit.gamma.statechart.model.composite.presentation.CompositeActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated statechart -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hu.bme.mit.gamma.statechart.model.contract.presentation.ContractModelWizardID"
            name="%_UI_ContractModelWizard_label"
            class="hu.bme.mit.gamma.statechart.model.contract.presentation.ContractModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContractModelFile.gif">
         <description>%_UI_ContractModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statechart -->
      <editor
            id="hu.bme.mit.gamma.statechart.model.contract.presentation.ContractEditorID"
            name="%_UI_ContractEditor_label"
            icon="icons/full/obj16/ContractModelFile.gif"
            extensions="contract"
            class="hu.bme.mit.gamma.statechart.model.contract.presentation.ContractEditor"
            contributorClass="hu.bme.mit.gamma.statechart.model.contract.presentation.ContractActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated statechart -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hu.bme.mit.gamma.statechart.model.phase.presentation.PhaseModelWizardID"
            name="%_UI_PhaseModelWizard_label"
            class="hu.bme.mit.gamma.statechart.model.phase.presentation.PhaseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PhaseModelFile.gif">
         <description>%_UI_PhaseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statechart -->
      <editor
            id="hu.bme.mit.gamma.statechart.model.phase.presentation.PhaseEditorID"
            name="%_UI_PhaseEditor_label"
            icon="icons/full/obj16/PhaseModelFile.gif"
            extensions="phase"
            class="hu.bme.mit.gamma.statechart.model.phase.presentation.PhaseEditor"
            contributorClass="hu.bme.mit.gamma.statechart.model.phase.presentation.PhaseActionBarContributor">
      </editor>
   </extension>

</plugin>
