<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_S0ZU4CnXEeuKBqMCNN91kg" specification="interface I:&#xA;&#x9;in event toggle&#xA;interface I_CR:&#xA;&#x9;in event e : string&#xA;&#x9;in event i: string&#xA;&#x9;in event h : string&#xA;interface I_FT:&#xA;&#x9;in event e : string&#xA;&#x9;in event i: string&#xA;&#x9;in event h : string&#xA;interface O:&#xA;&#x9;out event COID : string&#xA;interface:&#xA;&#x9;var P_COID : boolean&#xA;&#x9;var P_COIDT : integer&#xA;&#x9;var P_COIDH : integer&#xA;&#x9;var P_COIDO : integer&#xA;&#x9;var RS_COID : string&#xA;&#x9;var offCount : integer&#xA;&#x9;var toggleCount : integer&#xA;&#x9;var released : boolean&#xA;&#x9;var timerSet : boolean&#xA;&#x9;&#xA;&#xA;" name="COID">
    <regions xmi:id="_S0bxIynXEeuKBqMCNN91kg" name="(J)COID Signaller">
      <vertices xsi:type="sgraph:Entry" xmi:id="_S032ACnXEeuKBqMCNN91kg">
        <outgoingTransitions xmi:id="_S06SQynXEeuKBqMCNN91kg" target="_qp_RACnXEeuKBqMCNN91kg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_S04dFynXEeuKBqMCNN91kg" specification="entry / RS_COID = &quot;OFF&quot;;&#xD;&#xA;offCount++&#xD;&#xA;I.toggle / toggleCount++" name="Off" incomingTransitions="_qMmxcCnXEeuKBqMCNN91kg">
        <outgoingTransitions xmi:id="_AufgUC3FEeuLAtaFID1oCA" specification="after P_COIDO ms" target="_qp_RACnXEeuKBqMCNN91kg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_qp_RACnXEeuKBqMCNN91kg" specification="entry / raise O.COID : &quot;PASSIVE&quot;" name="TargetReleaseTimerNotRunning" incomingTransitions="_oaisACnZEeuKBqMCNN91kg _q3RNICnZEeuKBqMCNN91kg _AufgUC3FEeuLAtaFID1oCA _S06SQynXEeuKBqMCNN91kg">
        <outgoingTransitions xmi:id="_nxVW8CnZEeuKBqMCNN91kg" specification="I_CR.h, I_FT.e [&#xD;&#xA;&#x9;valueof(I_CR.h) == &quot;1&quot; &amp;&amp;&#xD;&#xA;&#x9;valueof(I_FT.h) == &quot;1&quot;]" target="_jcvVQCnZEeuKBqMCNN91kg"/>
        <outgoingTransitions xmi:id="_qMmxcCnXEeuKBqMCNN91kg" specification="I.toggle" target="_S04dFynXEeuKBqMCNN91kg"/>
        <regions xmi:id="_1W3qcCnXEeuKBqMCNN91kg" name="TargetReleaseTimerNotRunningRegion">
          <vertices xsi:type="sgraph:State" xmi:id="_J-AtkCnYEeuKBqMCNN91kg" specification="entry / RS_COID = &quot;OFF&quot;" name="Transient" incomingTransitions="_V8bAUCnYEeuKBqMCNN91kg">
            <outgoingTransitions xmi:id="_X0bDwCnYEeuKBqMCNN91kg" specification="after P_COIDT ms, I_FT.e" target="_WyMKsCnYEeuKBqMCNN91kg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_QAt24CnYEeuKBqMCNN91kg" specification="entry / RS_COID = &quot;OFF&quot;" name="TimerNotRunning" incomingTransitions="_ZqAsYCnYEeuKBqMCNN91kg _MPzUkCnZEeuKBqMCNN91kg">
            <outgoingTransitions xmi:id="_F8OdsCnZEeuKBqMCNN91kg" specification="I_FT.e [valueof(I_FT.e) != &quot;0&quot;]" target="_RlgqcCnYEeuKBqMCNN91kg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_RlgqcCnYEeuKBqMCNN91kg" specification="entry / RS_COID = &quot;NERV1&quot;" name="Invalid" incomingTransitions="_aPFvYCnYEeuKBqMCNN91kg _F8OdsCnZEeuKBqMCNN91kg">
            <outgoingTransitions xmi:id="_MPzUkCnZEeuKBqMCNN91kg" specification="I_FT.e [valueof(I_FT.e) == &quot;0&quot;]" target="_QAt24CnYEeuKBqMCNN91kg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_VouBMCnYEeuKBqMCNN91kg">
            <outgoingTransitions xmi:id="_V8bAUCnYEeuKBqMCNN91kg" specification="" target="_J-AtkCnYEeuKBqMCNN91kg"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_WyMKsCnYEeuKBqMCNN91kg" incomingTransitions="_X0bDwCnYEeuKBqMCNN91kg">
            <outgoingTransitions xmi:id="_ZqAsYCnYEeuKBqMCNN91kg" specification="[valueof(I_FT.e) == &quot;0&quot;]" target="_QAt24CnYEeuKBqMCNN91kg"/>
            <outgoingTransitions xmi:id="_aPFvYCnYEeuKBqMCNN91kg" specification="default" target="_RlgqcCnYEeuKBqMCNN91kg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jcvVQCnZEeuKBqMCNN91kg" specification="entry / raise O.COID : &quot;ACTIVE&quot;;&#xD;&#xA; RS_COID = &quot;ON&quot;; timerSet = true" name="TargetReleaseTimerRunning" incomingTransitions="_nxVW8CnZEeuKBqMCNN91kg">
        <outgoingTransitions xmi:id="_oaisACnZEeuKBqMCNN91kg" specification="I_CR.h, I_FT.e [&#xD;&#xA;&#x9;valueof(I_CR.h) != &quot;'1&quot; ||&#xD;&#xA;&#x9;valueof(I_FT.h) != &quot;1&quot;]" target="_qp_RACnXEeuKBqMCNN91kg"/>
        <outgoingTransitions xmi:id="_pizUkCnZEeuKBqMCNN91kg" specification="after P_COIDH ms [&#xD;&#xA;&#x9;valueof(I_CR.h) == &quot;1&quot; &amp;&amp;&#xD;&#xA;&#x9;valueof(I_FT.h) == &quot;1&quot;]" target="_mBE6QCnZEeuKBqMCNN91kg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_mBE6QCnZEeuKBqMCNN91kg" specification="entry / raise O.COID : &quot;ACTIVE&quot;;&#xD;&#xA; RS_COID = &quot;ON&quot;" name="Release" incomingTransitions="_pizUkCnZEeuKBqMCNN91kg">
        <outgoingTransitions xmi:id="_q3RNICnZEeuKBqMCNN91kg" specification="I_CR.h, I_FT.e [&#xD;&#xA;&#x9;valueof(I_CR.h) != &quot;1&quot; ||&#xD;&#xA;&#x9;valueof(I_FT.h) != &quot;1&quot;] / &#xD;&#xA;&#x9;released = true" target="_qp_RACnXEeuKBqMCNN91kg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_S0bxICnXEeuKBqMCNN91kg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_S0ZU4CnXEeuKBqMCNN91kg" measurementUnit="Pixel">
    <children xmi:id="_S0fbgCnXEeuKBqMCNN91kg" type="Region" element="_S0bxIynXEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_S02n4CnXEeuKBqMCNN91kg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_S02n4SnXEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_S02n4inXEeuKBqMCNN91kg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_S03O8CnXEeuKBqMCNN91kg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_S032ASnXEeuKBqMCNN91kg" type="Entry" element="_S032ACnXEeuKBqMCNN91kg">
          <children xmi:id="_S04dECnXEeuKBqMCNN91kg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_S04dEynXEeuKBqMCNN91kg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_S04dFCnXEeuKBqMCNN91kg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_S04dFSnXEeuKBqMCNN91kg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_S04dESnXEeuKBqMCNN91kg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S04dEinXEeuKBqMCNN91kg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_S032AinXEeuKBqMCNN91kg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_S032AynXEeuKBqMCNN91kg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S04dFinXEeuKBqMCNN91kg" x="140" y="-58" width="15" height="15"/>
        </children>
        <children xmi:id="_S05EIinXEeuKBqMCNN91kg" type="State" element="_S04dFynXEeuKBqMCNN91kg">
          <children xsi:type="notation:DecorationNode" xmi:id="_S05rMCnXEeuKBqMCNN91kg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_S05rMSnXEeuKBqMCNN91kg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_S05rMinXEeuKBqMCNN91kg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_S05rMynXEeuKBqMCNN91kg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_S05rNCnXEeuKBqMCNN91kg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S05rNSnXEeuKBqMCNN91kg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_S06SQCnXEeuKBqMCNN91kg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_S05EIynXEeuKBqMCNN91kg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_S05EJCnXEeuKBqMCNN91kg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_S06SQSnXEeuKBqMCNN91kg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S06SQinXEeuKBqMCNN91kg" x="-30" y="62" width="194" height="79"/>
        </children>
        <children xmi:id="_qp_4EinXEeuKBqMCNN91kg" type="State" element="_qp_RACnXEeuKBqMCNN91kg">
          <children xsi:type="notation:DecorationNode" xmi:id="_qp_4FinXEeuKBqMCNN91kg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qp_4FynXEeuKBqMCNN91kg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qp_4GCnXEeuKBqMCNN91kg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qp_4GSnXEeuKBqMCNN91kg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qp_4GinXEeuKBqMCNN91kg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qp_4GynXEeuKBqMCNN91kg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qqAfICnXEeuKBqMCNN91kg" type="StateFigureCompartment">
            <children xmi:id="_1W4RgCnXEeuKBqMCNN91kg" type="Region" element="_1W3qcCnXEeuKBqMCNN91kg">
              <children xsi:type="notation:DecorationNode" xmi:id="_1W44kCnXEeuKBqMCNN91kg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_1W44kSnXEeuKBqMCNN91kg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_1W44kinXEeuKBqMCNN91kg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_1W44kynXEeuKBqMCNN91kg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_J-BUoCnYEeuKBqMCNN91kg" type="State" element="_J-AtkCnYEeuKBqMCNN91kg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_J-BUpCnYEeuKBqMCNN91kg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_J-BUpSnYEeuKBqMCNN91kg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_J-BUpinYEeuKBqMCNN91kg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_J-BUpynYEeuKBqMCNN91kg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_J-B7sCnYEeuKBqMCNN91kg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J-B7sSnYEeuKBqMCNN91kg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_J-B7sinYEeuKBqMCNN91kg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_J-BUoSnYEeuKBqMCNN91kg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_J-BUoinYEeuKBqMCNN91kg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_J-B7synYEeuKBqMCNN91kg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J-BUoynYEeuKBqMCNN91kg" x="112" y="6"/>
                </children>
                <children xmi:id="_QAvFACnYEeuKBqMCNN91kg" type="State" element="_QAt24CnYEeuKBqMCNN91kg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_QAvFBCnYEeuKBqMCNN91kg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_QAvFBSnYEeuKBqMCNN91kg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_QAvFBinYEeuKBqMCNN91kg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_QAvFBynYEeuKBqMCNN91kg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_QAvFCCnYEeuKBqMCNN91kg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QAvFCSnYEeuKBqMCNN91kg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_QAvsECnYEeuKBqMCNN91kg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_QAvFASnYEeuKBqMCNN91kg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_QAvFAinYEeuKBqMCNN91kg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_QAvsESnYEeuKBqMCNN91kg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QAvFAynYEeuKBqMCNN91kg" y="180"/>
                </children>
                <children xmi:id="_RlhRginYEeuKBqMCNN91kg" type="State" element="_RlgqcCnYEeuKBqMCNN91kg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Rlh4kCnYEeuKBqMCNN91kg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Rlh4kSnYEeuKBqMCNN91kg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Rlh4kinYEeuKBqMCNN91kg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Rlh4kynYEeuKBqMCNN91kg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Rlh4lCnYEeuKBqMCNN91kg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Rlh4lSnYEeuKBqMCNN91kg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Rlh4linYEeuKBqMCNN91kg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_RlhRgynYEeuKBqMCNN91kg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_RlhRhCnYEeuKBqMCNN91kg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Rlh4lynYEeuKBqMCNN91kg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RlhRhSnYEeuKBqMCNN91kg" x="216" y="180"/>
                </children>
                <children xmi:id="_VovPUCnYEeuKBqMCNN91kg" type="Entry" element="_VouBMCnYEeuKBqMCNN91kg">
                  <children xmi:id="_VovPVCnYEeuKBqMCNN91kg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_VovPVynYEeuKBqMCNN91kg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_VovPWCnYEeuKBqMCNN91kg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_VovPWSnYEeuKBqMCNN91kg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_VovPVSnYEeuKBqMCNN91kg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VovPVinYEeuKBqMCNN91kg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_VovPUSnYEeuKBqMCNN91kg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_VovPUinYEeuKBqMCNN91kg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VovPUynYEeuKBqMCNN91kg" x="330" y="22"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_WyMxwCnYEeuKBqMCNN91kg" type="Choice" element="_WyMKsCnYEeuKBqMCNN91kg" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WyMxwSnYEeuKBqMCNN91kg" x="195" y="101"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1W44lCnXEeuKBqMCNN91kg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1W4RgSnXEeuKBqMCNN91kg" fontName="Verdana" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1W4RginXEeuKBqMCNN91kg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qp_4EynXEeuKBqMCNN91kg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qp_4FCnXEeuKBqMCNN91kg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qqAfISnXEeuKBqMCNN91kg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qp_4FSnXEeuKBqMCNN91kg" x="174" y="-64" width="458" height="361"/>
        </children>
        <children xmi:id="_jcv8UCnZEeuKBqMCNN91kg" type="State" element="_jcvVQCnZEeuKBqMCNN91kg">
          <children xsi:type="notation:DecorationNode" xmi:id="_jcv8VCnZEeuKBqMCNN91kg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jcv8VSnZEeuKBqMCNN91kg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jcv8VinZEeuKBqMCNN91kg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jcv8VynZEeuKBqMCNN91kg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jcwjYCnZEeuKBqMCNN91kg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jcwjYSnZEeuKBqMCNN91kg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jcwjYinZEeuKBqMCNN91kg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jcv8USnZEeuKBqMCNN91kg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jcv8UinZEeuKBqMCNN91kg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jcwjYynZEeuKBqMCNN91kg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jcv8UynZEeuKBqMCNN91kg" x="384" y="350" width="245" height="65"/>
        </children>
        <children xmi:id="_mBFhUCnZEeuKBqMCNN91kg" type="State" element="_mBE6QCnZEeuKBqMCNN91kg">
          <children xsi:type="notation:DecorationNode" xmi:id="_mBFhVCnZEeuKBqMCNN91kg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_mBFhVSnZEeuKBqMCNN91kg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_mBGIYCnZEeuKBqMCNN91kg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mBGIYSnZEeuKBqMCNN91kg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_mBGIYinZEeuKBqMCNN91kg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mBGIYynZEeuKBqMCNN91kg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mBGIZCnZEeuKBqMCNN91kg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_mBFhUSnZEeuKBqMCNN91kg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_mBFhUinZEeuKBqMCNN91kg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mBGIZSnZEeuKBqMCNN91kg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mBFhUynZEeuKBqMCNN91kg" x="-48" y="350" width="238" height="65"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S03O8SnXEeuKBqMCNN91kg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_S0fbgSnXEeuKBqMCNN91kg" fontName="Verdana" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S03O8inXEeuKBqMCNN91kg" x="29" y="14" width="704" height="520"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_S08HcynXEeuKBqMCNN91kg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_S08ugCnXEeuKBqMCNN91kg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_S08ugSnXEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_S08uginXEeuKBqMCNN91kg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_S08ugynXEeuKBqMCNN91kg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S08uhCnXEeuKBqMCNN91kg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S09VkCnXEeuKBqMCNN91kg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_S0bxISnXEeuKBqMCNN91kg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_S0bxIinXEeuKBqMCNN91kg"/>
    <edges xmi:id="_S07gYCnXEeuKBqMCNN91kg" type="Transition" element="_S06SQynXEeuKBqMCNN91kg" source="_S032ASnXEeuKBqMCNN91kg" target="_qp_4EinXEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_S08HcCnXEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_S08HcSnXEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_S08HcinXEeuKBqMCNN91kg" x="-1" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_S07gYSnXEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_S07gYynXEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_S07gYinXEeuKBqMCNN91kg" points="[7, 0, -35, 0]$[35, 0, -7, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0GckYCnXEeuKBqMCNN91kg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_08BhgCnXEeuKBqMCNN91kg" id="(0.056768558951965066,0.038781163434903045)"/>
    </edges>
    <edges xmi:id="_qMnYgCnXEeuKBqMCNN91kg" type="Transition" element="_qMmxcCnXEeuKBqMCNN91kg" source="_qp_4EinXEeuKBqMCNN91kg" target="_S05EIinXEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_qMnYhCnXEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qMnYhSnXEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qMnYhinXEeuKBqMCNN91kg" x="-10" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qMnYgSnXEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qMnYgynXEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qMnYginXEeuKBqMCNN91kg" points="[-3, 24, 184, -35]$[-135, 24, 52, -35]$[-135, 54, 52, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMp0wCnXEeuKBqMCNN91kg" id="(0.008733624454148471,0.20498614958448752)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMp0wSnXEeuKBqMCNN91kg" id="(0.10714285714285714,0.07216121987450957)"/>
    </edges>
    <edges xmi:id="_V8c1gCnYEeuKBqMCNN91kg" type="Transition" element="_V8bAUCnYEeuKBqMCNN91kg" source="_VovPUCnYEeuKBqMCNN91kg" target="_J-BUoCnYEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_V8dckSnYEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V8dckinYEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V8dckynYEeuKBqMCNN91kg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_V8c1gSnYEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_V8dckCnYEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_V8c1ginYEeuKBqMCNN91kg" points="[-8, 4, 181, -1]$[-98, 4, 91, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V8f40CnYEeuKBqMCNN91kg" id="(0.5333333333333333,0.2)"/>
    </edges>
    <edges xmi:id="_X0cR4CnYEeuKBqMCNN91kg" type="Transition" element="_X0bDwCnYEeuKBqMCNN91kg" source="_J-BUoCnYEeuKBqMCNN91kg" target="_WyMxwCnYEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_X0cR5CnYEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_X0cR5SnYEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_X0cR5inYEeuKBqMCNN91kg" x="7" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_X0cR4SnYEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_X0cR4ynYEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_X0cR4inYEeuKBqMCNN91kg" points="[5, 24, 0, -55]$[5, 71, 0, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5CvNUCnZEeuKBqMCNN91kg" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_ZqBTcCnYEeuKBqMCNN91kg" type="Transition" element="_ZqAsYCnYEeuKBqMCNN91kg" source="_WyMxwCnYEeuKBqMCNN91kg" target="_QAvFACnYEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZqB6gSnYEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZqB6ginYEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZqB6gynYEeuKBqMCNN91kg" x="19" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZqBTcSnYEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZqB6gCnYEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZqBTcinYEeuKBqMCNN91kg" points="[-3, 0, 51, -75]$[-103, 0, -49, -75]$[-103, 71, -49, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZqDIoCnYEeuKBqMCNN91kg" id="(0.2,0.5333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZqDIoSnYEeuKBqMCNN91kg" id="(0.5413533834586466,0.09433962264150945)"/>
    </edges>
    <edges xmi:id="_aPG9gCnYEeuKBqMCNN91kg" type="Transition" element="_aPFvYCnYEeuKBqMCNN91kg" source="_WyMxwCnYEeuKBqMCNN91kg" target="_RlhRginYEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_aPG9hCnYEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aPG9hSnYEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aPG9hinYEeuKBqMCNN91kg" y="21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aPG9gSnYEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aPG9gynYEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aPG9ginYEeuKBqMCNN91kg" points="[7, 0, -161, -77]$[147, 0, -21, -77]$[147, 72, -21, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5CvNUSnZEeuKBqMCNN91kg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aPILoCnYEeuKBqMCNN91kg" id="(0.7846153846153846,0.11320754716981134)"/>
    </edges>
    <edges xmi:id="_F8PEwCnZEeuKBqMCNN91kg" type="Transition" element="_F8OdsCnZEeuKBqMCNN91kg" source="_QAvFACnYEeuKBqMCNN91kg" target="_RlhRginYEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_F8Pr0SnZEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_F8Pr0inZEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_F8Pr0ynZEeuKBqMCNN91kg" x="3" y="14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_F8PEwSnZEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_F8Pr0CnZEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_F8PEwinZEeuKBqMCNN91kg" points="[-10, 24, -200, 9]$[-10, 42, -200, 27]$[164, 42, -26, 27]$[164, 24, -26, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PBmGwSnZEeuKBqMCNN91kg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_F8Q58CnZEeuKBqMCNN91kg" id="(0.5384615384615384,0.8301886792452832)"/>
    </edges>
    <edges xmi:id="_MPz7oCnZEeuKBqMCNN91kg" type="Transition" element="_MPzUkCnZEeuKBqMCNN91kg" source="_RlhRginYEeuKBqMCNN91kg" target="_QAvFACnYEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_MPz7pCnZEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MPz7pSnZEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MPz7pinZEeuKBqMCNN91kg" x="-3" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MPz7oSnZEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MPz7oynZEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MPz7oinZEeuKBqMCNN91kg" points="[-18, -24, 170, -24]$[-18, -42, 170, -42]$[-198, -42, -10, -42]$[-198, -24, -10, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PbnJQCnZEeuKBqMCNN91kg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PBmGwCnZEeuKBqMCNN91kg" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_nxV-ACnZEeuKBqMCNN91kg" type="Transition" element="_nxVW8CnZEeuKBqMCNN91kg" source="_qp_4EinXEeuKBqMCNN91kg" target="_jcv8UCnZEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_nxWlECnZEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nxWlESnZEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nxWlEinZEeuKBqMCNN91kg" x="-4" y="28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nxV-ASnZEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nxV-AynZEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nxV-AinZEeuKBqMCNN91kg" points="[77, 8, 42, -72]$[77, 67, 42, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nxXMICnZEeuKBqMCNN91kg" id="(0.7192991604526257,0.9778393351800554)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nxXMISnZEeuKBqMCNN91kg" id="(0.6260162601626017,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_oajTECnZEeuKBqMCNN91kg" type="Transition" element="_oaisACnZEeuKBqMCNN91kg" source="_jcv8UCnZEeuKBqMCNN91kg" target="_qp_4EinXEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_oajTFCnZEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oajTFSnZEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oajTFinZEeuKBqMCNN91kg" x="3" y="-36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oajTESnZEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oajTEynZEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oajTEinZEeuKBqMCNN91kg" points="[-37, -9, 18, 61]$[-37, -68, 18, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oakhMCnZEeuKBqMCNN91kg" id="(0.22357723577235777,0.16603773584905662)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oakhMSnZEeuKBqMCNN91kg" id="(0.4607081399593262,0.9944598337950139)"/>
    </edges>
    <edges xmi:id="_piz7oCnZEeuKBqMCNN91kg" type="Transition" element="_pizUkCnZEeuKBqMCNN91kg" source="_jcv8UCnZEeuKBqMCNN91kg" target="_mBFhUCnZEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_pi0isSnZEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pi0isinZEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pi0isynZEeuKBqMCNN91kg" x="-3" y="-22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_piz7oSnZEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_pi0isCnZEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_piz7oinZEeuKBqMCNN91kg" points="[-100, 5, 167, 5]$[-234, 5, 33, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tOrJYCnZEeuKBqMCNN91kg" id="(0.4166666666666667,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tOrwcCnZEeuKBqMCNN91kg" id="(0.8605150214592274,0.4)"/>
    </edges>
    <edges xmi:id="_q3R0MCnZEeuKBqMCNN91kg" type="Transition" element="_q3RNICnZEeuKBqMCNN91kg" source="_mBFhUCnZEeuKBqMCNN91kg" target="_qp_4EinXEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_q3R0NCnZEeuKBqMCNN91kg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q3R0NSnZEeuKBqMCNN91kg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q3R0NinZEeuKBqMCNN91kg" x="-16" y="-31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_q3R0MSnZEeuKBqMCNN91kg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_q3R0MynZEeuKBqMCNN91kg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_q3R0MinZEeuKBqMCNN91kg" points="[-80, -9, -115, 144]$[-80, -87, -115, 66]$[30, -87, -5, 66]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q3TCUCnZEeuKBqMCNN91kg" id="(0.8246474555487431,0.15094339622641512)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q3TCUSnZEeuKBqMCNN91kg" id="(0.011889242321531001,0.7590027700831026)"/>
    </edges>
    <edges xmi:id="_AuhVgC3FEeuLAtaFID1oCA" type="Transition" element="_AufgUC3FEeuLAtaFID1oCA" source="_S05EIinXEeuKBqMCNN91kg" target="_qp_4EinXEeuKBqMCNN91kg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Auh8kS3FEeuLAtaFID1oCA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Auh8ki3FEeuLAtaFID1oCA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Auh8ky3FEeuLAtaFID1oCA" x="14" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AuhVgS3FEeuLAtaFID1oCA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Auh8kC3FEeuLAtaFID1oCA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AuhVgi3FEeuLAtaFID1oCA" points="[-2, 68, -133, -18]$[-2, 96, -133, 10]$[130, 96, -1, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AukY0C3FEeuLAtaFID1oCA" id="(0.3967694073514179,0.08538751201794674)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AukY0S3FEeuLAtaFID1oCA" id="(0.004366812227074236,0.6149584487534626)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
