<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated traceability -->
      <package
            uri="http://www.mit.bme.hu/gamma/yakindu/transformation/Traceability"
            class="hu.bme.mit.gamma.yakindu.transformation.traceability.TraceabilityPackage"
            genModel="model/traceability.genmodel"/>
   </extension>

</plugin>
