<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="hu.bme.mit.gamma.headless"
         name="Gamma Headless"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="hu.bme.ftsrg.gamma.openapi.wrapper.Application">
         </run>
      </application>
   </extension>
   <extension
         id="headless_app"
         point="org.eclipse.core.runtime.products">
      <product
            application="hu.bme.mit.gamma.headless"
            name="Headless Gamma">
         <property
               name="appName"
               value="Headless Gamma">
         </property>
      </product>
   </extension>

</plugin>
