<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.gamma.uppaal.transformation.queries.ErrorPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.uppaal.transformation.queries.ErrorPatterns" id="hu.bme.mit.gamma.uppaal.transformation.queries.ErrorPatterns">
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.inOutTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.fromChoiceToHigherTransition"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.entryStatesWithIncorrectIncomingTransition"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.multipleEntryStatesWithoutIncomingTransition"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.inOutEvents"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.gamma.uppaal.transformation.queries.Patterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.uppaal.transformation.queries.Patterns" id="hu.bme.mit.gamma.uppaal.transformation.queries.Patterns">
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.statecharts"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.namedElements"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.assignedVariables"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.isDeclarationOfReference"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.variableDeclarations"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.constantDeclarationsWithoutInit"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.constantDeclarations"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.declarationInitializations"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.events"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.inEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.topRegions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.subregions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.regions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.entries"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.simpleStates"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.compositeStates"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.states"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.choicesAndMerges"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.eliminatableChoices"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.defaultTransitionsOfChoices"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.transitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.sameRegionTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.toHigherTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.toLowerTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.regionsWithShallowHistory"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.regionsWithDeepHistory"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.outgoingTransitionsOfCompositeStates"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.allSubregionsOfCompositeStates"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.eventTriggersOfTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.simpleEventTriggersOfTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.timeTriggersOfTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.entryTimeTriggersOfTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.setTimeoutActions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.guardsOfTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.updatesOfTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.entryAssignmentsOfStates"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.entryTimeoutActionsOfStates"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.timeoutActionsOfTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.exitTimeoutActionsOfStatesWithTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.exitAssignmentsOfStatesWithTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.raisingActionsOfTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.valuesOfEventParameters"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.entryRaisingActionsOfStates"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.exitRaisingActionsOfStates"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.exitRaisingActionsOfStatesWithTransitions"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.gamma.uppaal.transformation.queries.TracePatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.uppaal.transformation.queries.TracePatterns" id="hu.bme.mit.gamma.uppaal.transformation.queries.TracePatterns">
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.traces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.expressionTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.instanceTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.portTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.messageQueueTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.eventRepresentations"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.clockRepresentations"/>
    </group>
  </extension>
</plugin>
