<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated trace -->
      <package
            uri="http://www.mit.bme.hu/gamma/trace/Model"
            class="hu.bme.mit.gamma.trace.model.TracePackage"
            genModel="model/trace.genmodel"/>
   </extension>

</plugin>
