<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.gamma.uppaal.composition.transformation.queries.Patterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.uppaal.composition.transformation.queries.Patterns" id="hu.bme.mit.gamma.uppaal.composition.transformation.queries.Patterns">
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.parameterizedInstances"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.simpleInstances"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.instanceContainer"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.instanceVariables"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.inputInstanceEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.parameteredEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.topSyncSystemInEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.topSyncSystemOutEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.instanceRegions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.toLowerInstanceTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.toHigherInstanceTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.statechartRegions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.regionToSubregion"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.raiseInstanceEventStateEntryActions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.raiseTopSystemEventStateEntryActions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.raiseInstanceEventStateExitActions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.raiseTopSystemEventStateExitActions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.raiseInstanceEventOfTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.raiseTopSystemEventOfTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.queueSwapInstancesOfComposite"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.asynchronousSimpleInstances"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.topUnwrappedSyncComponents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.topWrapperComponents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.topAsyncCompositeComponents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.simpleWrapperInstances"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.distinctWrapperInEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.wrapperInEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.wrapperInstanceInEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.topAsyncSystemInEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.eventsIntoMessageQueues"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.topMessageQueues"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.instanceMessageQueues"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.queuesOfClocks"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.queuesOfEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.queuesOfEventsOfWrappedComponents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.queuePriorities"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.runOnceEventControl"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.unusedWrapperEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.runOnceClockControl"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.timeoutValues"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.gamma.uppaal.composition.transformation.queries.UppaalPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.uppaal.composition.transformation.queries.UppaalPatterns" id="hu.bme.mit.gamma.uppaal.composition.transformation.queries.UppaalPatterns">
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.edgesWithClock"/>
    </group>
  </extension>
</plugin>
