<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.gamma.uppaal.composition.transformation.queries.UppaalPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.uppaal.composition.transformation.queries.UppaalPatterns" id="hu.bme.mit.gamma.uppaal.composition.transformation.queries.UppaalPatterns">
      <query-specification fqn="hu.bme.mit.gamma.uppaal.composition.transformation.queries.edgesWithClock"/>
    </group>
  </extension>
</plugin>
