<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fei -->
      <package
            uri="http://www.mit.bme.hu/gamma/fei/Model"
            class="hu.bme.mit.gamma.fei.model.FeiModelPackage"
            genModel="model/fei.genmodel"/>
   </extension>

</plugin>
