<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://www.mit.bme.hu/gamma/statechart/lowlevel/Model"
            class="hu.bme.mit.gamma.statechart.lowlevel.model.StatechartModelPackage"
            genModel="model/model.genmodel"/>
   </extension>

</plugin>
