/bin/
/save/
/trace/
*.gsm
*.uppaal
*.g2u
*.y2g
*.xml
*.qq
*.lgsm
*.gsts
*.l2s
*.xsts
*.smv
*.cmd
*.cex
*.gpd
*.pd
*.pml
*.pmlp
*.txt
*.fei


!/model/Crossroads/nuXmv/Crossroad.gpd
!/model/Crossroads/xSAP-1/Crossroad.gpd
!/model/Crossroads/xSAP-2/Crossroad.gpd

!/model/Crossroads/xSAP-1/.generate_ft_Crossroad_manual.cmd
!/model/Crossroads/xSAP-2/.generate_fmea_Crossroad_manual.cmd
