hu.bme.mit.gamma.constraint.model.edit/
hu.bme.mit.gamma.constraint.model.editor/
hu.bme.mit.gamma.constraint.model.tests/
hu.bme.mit.gamma.statechart.model.edit/
hu.bme.mit.gamma.statechart.model.editor/
hu.bme.mit.gamma.statechart.model.tests/
hu.bme.mit.gamma.action.model.edit/
hu.bme.mit.gamma.action.model.editor/
hu.bme.mit.gamma.action.model.tests/
de.uni_paderborn.uppaal.edit/
de.uni_paderborn.uppaal.editor/
de.uni_paderborn.uppaal.tests/
hu.bme.mit.gamma.uppaal.transformation.traceability.edit/
hu.bme.mit.gamma.uppaal.transformation.traceability.editor/
hu.bme.mit.gamma.uppaal.transformation.traceability.tests/
hu.bme.mit.gamma.yakindu.genmodel.edit/
hu.bme.mit.gamma.yakindu.genmodel.editor/
hu.bme.mit.gamma.yakindu.genmodel.tests/
hu.bme.mit.gamma.yakindu.transformation.traceability.edit/
hu.bme.mit.gamma.yakindu.transformation.traceability.editor/
hu.bme.mit.gamma.yakindu.transformation.traceability.tests/
