<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.gamma.validation.ErrorPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.validation.ErrorPatterns" id="hu.bme.mit.gamma.validation.ErrorPatterns">
      <query-specification fqn="hu.bme.mit.gamma.validation.unusedEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.unusedVariables"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.untriggeredTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.unreachableNodes"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.finalStatesWithOutgoingTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.entryStatesWithIncomingTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.entryStatesWithMoreOutgoingTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.entryStatesWithTriggeredOutgoingTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.semanticOutEventsOfTriggers"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.semanticInEventsOfActions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.choicesWithFewOutgoingTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.choicesWithTriggeredOutgoingTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.choicesWithUnguardedOutgoingTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.notTopElseExpression"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.occludingTimeEventSpecs"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.transitionsOfSameSourceAndTrigger"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.occludedTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.sameTrigger"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.sameTriggerDifferentAssignment"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.sameTriggerSameEvent"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.regionsWithoutEntry"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.regionsWithMoreEntries"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.transitionsAcrossOrthogonalRegions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.transitionsIntoOrthogonalRegions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.inOutTransitions"/>
      <query-specification fqn="hu.bme.mit.gamma.validation.prohibitedEventParameterReferences"/>
    </group>
  </extension>
</plugin>
