<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated property -->
      <package
            uri="http://www.mit.bme.hu/gamma/property/Model"
            class="hu.bme.mit.gamma.property.model.PropertyModelPackage"
            genModel="model/property.genmodel"/>
   </extension>

</plugin>
