<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.gamma.uppaal.transformation.queries.TracePatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.uppaal.transformation.queries.TracePatterns" id="hu.bme.mit.gamma.uppaal.transformation.queries.TracePatterns">
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.traces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.expressionTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.instanceTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.portTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.messageQueueTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.eventRepresentations"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.transformation.queries.clockRepresentations"/>
    </group>
  </extension>
</plugin>
