*.gsm
*.uppaal
*.g2u
*.y2g
*.xml
*.qq
*.lgsm
*.gsts
*.l2s
*.xsts
*.cex
*.gpd
*.pd
*.txt
!/model/TMT/System/TMT.gsm
!/model/TMT/System/TMTComponent.gsm
!/model/Spacecraft/System/Spacecraft.gsm
!/model/Spacecraft/System/SpacecraftComponent.gsm