<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.ComplexTransitionPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.ComplexTransitionPatterns" id="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.ComplexTransitionPatterns">
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.lastJoinStates"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.lastMergeStates"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.firstForkStates"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.firstChoiceStates"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.OptimizationPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.OptimizationPatterns" id="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.OptimizationPatterns">
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.assignmentActions"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.notReadVariables"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.Patterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.Patterns" id="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.Patterns">
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.statecharts"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.typeDeclarations"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.events"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.inEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.outEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.referredEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.eventParameterComparisons"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.topRegions"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.subregions"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.regions"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.timeouts"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.timeoutInitializations"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.plainVariables"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.globalVariables"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.referredVariables"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.transitionsBetweenSameRegionNodes"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.transitionsToHigherNodes"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.transitionsToLowerNodes"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.transitionsToHigherAndLowerNodes"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.simpleTransitionsBetweenStates"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.simpleTransitionsToEntryStates"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.TargetPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.TargetPatterns" id="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.TargetPatterns">
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.eventVariableGroups"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.plainVariableGroups"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.regionVariableGroups"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.TracePatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.TracePatterns" id="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.TracePatterns">
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.typeDeclarationTrace"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.eventTrace"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.variableTrace"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.regionTrace"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.stateTrace"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.stateHistoryTrace"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.simpleTransitionTrace"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.choiceTransitionTrace"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.mergeTransitionTrace"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.forkTransitionTrace"/>
      <query-specification fqn="hu.bme.mit.gamma.lowlevel.xsts.transformation.patterns.joinTransitionTrace"/>
    </group>
  </extension>
</plugin>
