/.TransitionToStepTransformer.java._trace
/.TransitionToStepTransformer.xtendbin
/TransitionToStepTransformer.java
/.ExecutionTraceBackAnnotator.java._trace
/.ScenarioStatechartValidator.java._trace
/.ScenarioStatechartTraceGenerator.java._trace
/.ExecutionTraceBackAnnotator.xtendbin
/.ScenarioStatechartTraceGenerator.xtendbin
/ExecutionTraceBackAnnotator.java
/ScenarioStatechartTraceGenerator.java
