/.CodeBuilder.java._trace
/.TypeDeclarationSerializer.java._trace
/.WrapperBuilder.java._trace
/.IStatechartCode.java._trace
/.CodeBuilder.xtendbin
/.IStatechartCode.xtendbin
/.WrapperBuilder.xtendbin
