<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_eENYcD_IEeqqM953aO1YNQ" specification="interface ODC:&#xD;&#xA;&#x9;in event getData : integer&#xD;&#xA;&#x9;out event sendData : integer&#xD;&#xA;&#x9;&#xD;&#xA;interface:&#xD;&#xA;&#x9;var ODCGetData : integer&#xD;&#xA;&#x9;var sendPL : integer&#xD;&#xA;&#x9;var sendDataOBC : integer&#xD;&#xA;&#x9;var PLBuffer : integer" name="SLP">
    <regions xmi:id="_eEg6dz_IEeqqM953aO1YNQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_eFMP4z_IEeqqM953aO1YNQ">
        <outgoingTransitions xmi:id="_eFYdID_IEeqqM953aO1YNQ" target="_eFSWgD_IEeqqM953aO1YNQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_eFSWgD_IEeqqM953aO1YNQ" name="SLP_ON" incomingTransitions="_eFYdID_IEeqqM953aO1YNQ">
        <outgoingTransitions xmi:id="_fxi6oD_hEeqQfodg4bBv7w" specification="always / sendPL = 0;&#xD;&#xA;&#x9;raise ODC.sendData : sendPL" target="_b83IED_hEeqQfodg4bBv7w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_b83IED_hEeqQfodg4bBv7w" name="SLP_Receive" incomingTransitions="_fxi6oD_hEeqQfodg4bBv7w _rlQswEBDEeq4L-hIj8p8Rg _wb6SoEBDEeq4L-hIj8p8Rg">
        <outgoingTransitions xmi:id="_8LzTIEBBEeq4L-hIj8p8Rg" specification="ODC.getData [valueof(ODC.getData) == 1] / &#xD;&#xA;&#x9;ODCGetData = valueof(ODC.getData);&#xD;&#xA;&#x9;sendPL = 2;&#xD;&#xA;&#x9;raise ODC.sendData : sendPL" target="_vpNVQEBBEeq4L-hIj8p8Rg"/>
        <outgoingTransitions xmi:id="_Ftqq8EBCEeq4L-hIj8p8Rg" specification="ODC.getData [valueof(ODC.getData) == 0] /&#xD;&#xA;&#x9;ODCGetData = valueof(ODC.getData); &#xD;&#xA;&#x9;sendPL = 2;&#xD;&#xA;&#x9;raise ODC.sendData : sendPL;&#xD;&#xA;&#x9;sendDataOBC = 0" target="_vpNVQEBBEeq4L-hIj8p8Rg"/>
        <outgoingTransitions xmi:id="_lgjNwEBCEeq4L-hIj8p8Rg" specification="ODC.getData [valueof(ODC.getData) != 1 &amp;&amp;&#xD;&#xA;&#x9;valueof(ODC.getData) != 2] /&#xD;&#xA;&#x9;ODCGetData = valueof(ODC.getData); &#xD;&#xA;&#x9;sendPL = 0;&#xD;&#xA;&#x9;raise ODC.sendData : sendPL" target="_vpNVQEBBEeq4L-hIj8p8Rg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_vpNVQEBBEeq4L-hIj8p8Rg" name="SLP_Send" incomingTransitions="_8LzTIEBBEeq4L-hIj8p8Rg _Ftqq8EBCEeq4L-hIj8p8Rg _lgjNwEBCEeq4L-hIj8p8Rg _WZq4wEBDEeq4L-hIj8p8Rg">
        <outgoingTransitions xmi:id="_7_4hkEBCEeq4L-hIj8p8Rg" specification="always [sendPL == 2 &amp;&amp;&#xD;&#xA;&#x9;ODCGetData != 0]" target="_27-_UEBBEeq4L-hIj8p8Rg"/>
        <outgoingTransitions xmi:id="_wb6SoEBDEeq4L-hIj8p8Rg" specification="always&#xD;&#xA;[sendPL != 1 &amp;&amp;&#xD;&#xA;&#x9;sendPL != 2 &amp;&amp;&#xD;&#xA;&#x9;sendDataOBC == 0]  / &#xD;&#xA;&#x9;sendPL = 0;&#xD;&#xA;&#x9;raise ODC.sendData : sendPL" target="_b83IED_hEeqQfodg4bBv7w"/>
        <outgoingTransitions xmi:id="_512dgEBDEeq4L-hIj8p8Rg" specification="always&#xD;&#xA;[sendPL == 1 ||&#xD;&#xA;&#x9;sendDataOBC == 1] / &#xD;&#xA;&#x9;sendPL = 1;&#xD;&#xA;&#x9;raise ODC.sendData : sendPL" target="_zCkdwEBBEeq4L-hIj8p8Rg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zCkdwEBBEeq4L-hIj8p8Rg" name="SLP_Acquisition_Experiment" incomingTransitions="_512dgEBDEeq4L-hIj8p8Rg">
        <outgoingTransitions xmi:id="_rlQswEBDEeq4L-hIj8p8Rg" specification="always / PLBuffer = 3" target="_b83IED_hEeqQfodg4bBv7w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_27-_UEBBEeq4L-hIj8p8Rg" name="SLP_Read_Experiment" incomingTransitions="_7_4hkEBCEeq4L-hIj8p8Rg">
        <outgoingTransitions xmi:id="_WZq4wEBDEeq4L-hIj8p8Rg" specification="always /&#xD;&#xA;&#x9;sendPL = PLBuffer;&#xD;&#xA;&#x9;raise ODC.sendData : sendPL;&#xD;&#xA;&#x9;sendDataOBC = 1&#xD;&#xA;" target="_vpNVQEBBEeq4L-hIj8p8Rg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_eEg6dD_IEeqqM953aO1YNQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_eENYcD_IEeqqM953aO1YNQ" measurementUnit="Pixel">
    <children xmi:id="_eEr5kD_IEeqqM953aO1YNQ" type="Region" element="_eEg6dz_IEeqqM953aO1YNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_eFLBwD_IEeqqM953aO1YNQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eFLBwT_IEeqqM953aO1YNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eFLBwj_IEeqqM953aO1YNQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_eFMP4D_IEeqqM953aO1YNQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_eFP6QD_IEeqqM953aO1YNQ" type="Entry" element="_eFMP4z_IEeqqM953aO1YNQ">
          <children xmi:id="_eFP6RD_IEeqqM953aO1YNQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_eFRIYD_IEeqqM953aO1YNQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_eFRIYT_IEeqqM953aO1YNQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_eFRIYj_IEeqqM953aO1YNQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_eFP6RT_IEeqqM953aO1YNQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eFP6Rj_IEeqqM953aO1YNQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_eFP6QT_IEeqqM953aO1YNQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_eFP6Qj_IEeqqM953aO1YNQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eFRIYz_IEeqqM953aO1YNQ" x="151" y="60"/>
        </children>
        <children xmi:id="_eFSWgz_IEeqqM953aO1YNQ" type="State" element="_eFSWgD_IEeqqM953aO1YNQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_eFSWhz_IEeqqM953aO1YNQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_eFSWiD_IEeqqM953aO1YNQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_eFSWiT_IEeqqM953aO1YNQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_eFWA4D_IEeqqM953aO1YNQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_eFWA4T_IEeqqM953aO1YNQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eFWA4j_IEeqqM953aO1YNQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_eFWA4z_IEeqqM953aO1YNQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_eFSWhD_IEeqqM953aO1YNQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_eFSWhT_IEeqqM953aO1YNQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_eFXPAD_IEeqqM953aO1YNQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eFXPAT_IEeqqM953aO1YNQ" x="187" y="44"/>
        </children>
        <children xmi:id="_b83IEz_hEeqQfodg4bBv7w" type="State" element="_b83IED_hEeqQfodg4bBv7w">
          <children xsi:type="notation:DecorationNode" xmi:id="_b83IFz_hEeqQfodg4bBv7w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_b83IGD_hEeqQfodg4bBv7w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_b83IGT_hEeqQfodg4bBv7w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_b83IGj_hEeqQfodg4bBv7w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_b9ASAD_hEeqQfodg4bBv7w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_b9ASAT_hEeqQfodg4bBv7w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_b9ASAj_hEeqQfodg4bBv7w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_b83IFD_hEeqQfodg4bBv7w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_b83IFT_hEeqQfodg4bBv7w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_b9ASAz_hEeqQfodg4bBv7w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_b83IFj_hEeqQfodg4bBv7w" x="145" y="152" width="672" height="55"/>
        </children>
        <children xmi:id="_vp88IEBBEeq4L-hIj8p8Rg" type="State" element="_vpNVQEBBEeq4L-hIj8p8Rg">
          <children xsi:type="notation:DecorationNode" xmi:id="_vp88JEBBEeq4L-hIj8p8Rg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_vp88JUBBEeq4L-hIj8p8Rg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_vp88JkBBEeq4L-hIj8p8Rg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vp88J0BBEeq4L-hIj8p8Rg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_vp88KEBBEeq4L-hIj8p8Rg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vp88KUBBEeq4L-hIj8p8Rg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vp88KkBBEeq4L-hIj8p8Rg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_vp88IUBBEeq4L-hIj8p8Rg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_vp88IkBBEeq4L-hIj8p8Rg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_vp88K0BBEeq4L-hIj8p8Rg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vp88I0BBEeq4L-hIj8p8Rg" x="151" y="284" width="666" height="55"/>
        </children>
        <children xmi:id="_zCkdw0BBEeq4L-hIj8p8Rg" type="State" element="_zCkdwEBBEeq4L-hIj8p8Rg">
          <children xsi:type="notation:DecorationNode" xmi:id="_zCkdx0BBEeq4L-hIj8p8Rg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zCkdyEBBEeq4L-hIj8p8Rg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zCkdyUBBEeq4L-hIj8p8Rg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zCkdykBBEeq4L-hIj8p8Rg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zCkdy0BBEeq4L-hIj8p8Rg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zCkdzEBBEeq4L-hIj8p8Rg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zCkdzUBBEeq4L-hIj8p8Rg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zCkdxEBBEeq4L-hIj8p8Rg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zCkdxUBBEeq4L-hIj8p8Rg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zCkdzkBBEeq4L-hIj8p8Rg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zCkdxkBBEeq4L-hIj8p8Rg" x="361" y="60"/>
        </children>
        <children xmi:id="_27-_U0BBEeq4L-hIj8p8Rg" type="State" element="_27-_UEBBEeq4L-hIj8p8Rg">
          <children xsi:type="notation:DecorationNode" xmi:id="_27-_V0BBEeq4L-hIj8p8Rg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_27-_WEBBEeq4L-hIj8p8Rg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_27-_WUBBEeq4L-hIj8p8Rg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_27-_WkBBEeq4L-hIj8p8Rg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_27-_W0BBEeq4L-hIj8p8Rg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_27-_XEBBEeq4L-hIj8p8Rg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_27-_XUBBEeq4L-hIj8p8Rg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_27-_VEBBEeq4L-hIj8p8Rg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_27-_VUBBEeq4L-hIj8p8Rg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_27-_XkBBEeq4L-hIj8p8Rg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_27-_VkBBEeq4L-hIj8p8Rg" x="381" y="410"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eFMP4T_IEeqqM953aO1YNQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_eEr5kT_IEeqqM953aO1YNQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eFMP4j_IEeqqM953aO1YNQ" x="12" y="24" width="1111" height="643"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_eFejxz_IEeqqM953aO1YNQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_eFiOID_IEeqqM953aO1YNQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eFiOIT_IEeqqM953aO1YNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eFiOIj_IEeqqM953aO1YNQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_eFiOIz_IEeqqM953aO1YNQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eFiOJD_IEeqqM953aO1YNQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eFiOJT_IEeqqM953aO1YNQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_eEg6dT_IEeqqM953aO1YNQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_eEg6dj_IEeqqM953aO1YNQ"/>
    <edges xmi:id="_eFejwD_IEeqqM953aO1YNQ" type="Transition" element="_eFYdID_IEeqqM953aO1YNQ" source="_eFP6QD_IEeqqM953aO1YNQ" target="_eFSWgz_IEeqqM953aO1YNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_eFejxD_IEeqqM953aO1YNQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eFejxT_IEeqqM953aO1YNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eFejxj_IEeqqM953aO1YNQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eFejwT_IEeqqM953aO1YNQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eFejwz_IEeqqM953aO1YNQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eFejwj_IEeqqM953aO1YNQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aixvsD_hEeqQfodg4bBv7w" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_l2k_MD_hEeqQfodg4bBv7w" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_fxi6oT_hEeqQfodg4bBv7w" type="Transition" element="_fxi6oD_hEeqQfodg4bBv7w" source="_eFSWgz_IEeqqM953aO1YNQ" target="_b83IEz_hEeqQfodg4bBv7w">
      <children xsi:type="notation:DecorationNode" xmi:id="_fxi6pT_hEeqQfodg4bBv7w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fxi6pj_hEeqQfodg4bBv7w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fxi6pz_hEeqQfodg4bBv7w" x="-3" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fxi6oj_hEeqQfodg4bBv7w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fxi6pD_hEeqQfodg4bBv7w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fxi6oz_hEeqQfodg4bBv7w" points="[8, 37, -9, -75]$[8, 103, -9, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fxi6qD_hEeqQfodg4bBv7w" id="(0.4933333333333333,0.24528301886792456)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fxi6qT_hEeqQfodg4bBv7w" id="(0.1408930951191071,0.18181818181818182)"/>
    </edges>
    <edges xmi:id="_8LzTIUBBEeq4L-hIj8p8Rg" type="Transition" element="_8LzTIEBBEeq4L-hIj8p8Rg" source="_b83IEz_hEeqQfodg4bBv7w" target="_vp88IEBBEeq4L-hIj8p8Rg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8LzTJUBBEeq4L-hIj8p8Rg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8LzTJkBBEeq4L-hIj8p8Rg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8LzTJ0BBEeq4L-hIj8p8Rg" x="-3" y="49"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8LzTIkBBEeq4L-hIj8p8Rg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8LzTJEBBEeq4L-hIj8p8Rg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8LzTI0BBEeq4L-hIj8p8Rg" points="[-6, 26, 1, -95]$[-6, 108, 1, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8L9EIEBBEeq4L-hIj8p8Rg" id="(0.0740438604227298,0.49090909090909096)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8L9EIUBBEeq4L-hIj8p8Rg" id="(0.0552795779047275,0.2727272727272727)"/>
    </edges>
    <edges xmi:id="_Ft0b8EBCEeq4L-hIj8p8Rg" type="Transition" element="_Ftqq8EBCEeq4L-hIj8p8Rg" source="_b83IEz_hEeqQfodg4bBv7w" target="_vp88IEBBEeq4L-hIj8p8Rg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ft0b9EBCEeq4L-hIj8p8Rg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ft0b9UBCEeq4L-hIj8p8Rg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ft0b9kBCEeq4L-hIj8p8Rg" x="6" y="-3"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ft0b8UBCEeq4L-hIj8p8Rg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ft0b80BCEeq4L-hIj8p8Rg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ft0b8kBCEeq4L-hIj8p8Rg" points="[75, 25, 72, -107]$[75, 107, 72, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jluf0EBCEeq4L-hIj8p8Rg" id="(0.3020989505247376,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kQFrcEBCEeq4L-hIj8p8Rg" id="(0.30030257186081694,0.5)"/>
    </edges>
    <edges xmi:id="_lgjNwUBCEeq4L-hIj8p8Rg" type="Transition" element="_lgjNwEBCEeq4L-hIj8p8Rg" source="_b83IEz_hEeqQfodg4bBv7w" target="_vp88IEBBEeq4L-hIj8p8Rg">
      <children xsi:type="notation:DecorationNode" xmi:id="_lgjNxUBCEeq4L-hIj8p8Rg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lgjNxkBCEeq4L-hIj8p8Rg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lgjNx0BCEeq4L-hIj8p8Rg" x="-1" y="-1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lgjNwkBCEeq4L-hIj8p8Rg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lgjNxEBCEeq4L-hIj8p8Rg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lgjNw0BCEeq4L-hIj8p8Rg" points="[0, 17, 5, -116]$[0, 149, 5, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lgjNyEBCEeq4L-hIj8p8Rg" id="(0.8541666666666666,0.6727272727272726)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lgjNyUBCEeq4L-hIj8p8Rg" id="(0.8453453453453453,0.6909090909090909)"/>
    </edges>
    <edges xmi:id="_8ACSkEBCEeq4L-hIj8p8Rg" type="Transition" element="_7_4hkEBCEeq4L-hIj8p8Rg" source="_vp88IEBBEeq4L-hIj8p8Rg" target="_27-_U0BBEeq4L-hIj8p8Rg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8ACSlEBCEeq4L-hIj8p8Rg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8ACSlUBCEeq4L-hIj8p8Rg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8ACSlkBCEeq4L-hIj8p8Rg" x="-33" y="29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8ACSkUBCEeq4L-hIj8p8Rg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8ACSk0BCEeq4L-hIj8p8Rg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8ACSkkBCEeq4L-hIj8p8Rg" points="[68, 20, -117, -112]$[68, 119, -117, -13]$[159, 119, -26, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8ACSl0BCEeq4L-hIj8p8Rg" id="(0.10810810810810811,0.6181818181818182)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8ACSmEBCEeq4L-hIj8p8Rg" id="(0.15789473684210525,0.7547169811320756)"/>
    </edges>
    <edges xmi:id="_WZq4wUBDEeq4L-hIj8p8Rg" type="Transition" element="_WZq4wEBDEeq4L-hIj8p8Rg" source="_27-_U0BBEeq4L-hIj8p8Rg" target="_vp88IEBBEeq4L-hIj8p8Rg">
      <children xsi:type="notation:DecorationNode" xmi:id="_WZq4xUBDEeq4L-hIj8p8Rg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WZq4xkBDEeq4L-hIj8p8Rg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WZq4x0BDEeq4L-hIj8p8Rg" x="30" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WZq4wkBDEeq4L-hIj8p8Rg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WZq4xEBDEeq4L-hIj8p8Rg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WZq4w0BDEeq4L-hIj8p8Rg" points="[83, -1, 66, 124]$[193, -1, 176, 124]$[193, -100, 176, 25]"/>
    </edges>
    <edges xmi:id="_rlZ2sEBDEeq4L-hIj8p8Rg" type="Transition" element="_rlQswEBDEeq4L-hIj8p8Rg" source="_zCkdw0BBEeq4L-hIj8p8Rg" target="_b83IEz_hEeqQfodg4bBv7w">
      <children xsi:type="notation:DecorationNode" xmi:id="_rlZ2tEBDEeq4L-hIj8p8Rg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rlZ2tUBDEeq4L-hIj8p8Rg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rlZ2tkBDEeq4L-hIj8p8Rg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rlZ2sUBDEeq4L-hIj8p8Rg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rlZ2s0BDEeq4L-hIj8p8Rg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rlZ2skBDEeq4L-hIj8p8Rg" points="[3, 24, 3, -54]$[3, 68, 3, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rlZ2t0BDEeq4L-hIj8p8Rg" id="(0.47767857142857145,0.2)"/>
    </edges>
    <edges xmi:id="_wb6SoUBDEeq4L-hIj8p8Rg" type="Transition" element="_wb6SoEBDEeq4L-hIj8p8Rg" source="_vp88IEBBEeq4L-hIj8p8Rg" target="_b83IEz_hEeqQfodg4bBv7w">
      <children xsi:type="notation:DecorationNode" xmi:id="_wb6SpUBDEeq4L-hIj8p8Rg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wb6SpkBDEeq4L-hIj8p8Rg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wb6Sp0BDEeq4L-hIj8p8Rg" x="1" y="66"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wb6SokBDEeq4L-hIj8p8Rg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wb6SpEBDEeq4L-hIj8p8Rg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wb6So0BDEeq4L-hIj8p8Rg" points="[78, -12, 15, 117]$[173, -12, 110, 117]$[173, -114, 110, 15]$[78, -114, 15, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wcDckEBDEeq4L-hIj8p8Rg" id="(0.8828828828828829,0.4909090909090909)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wcDckUBDEeq4L-hIj8p8Rg" id="(0.9776785714285714,0.5454545454545454)"/>
    </edges>
    <edges xmi:id="_512dgUBDEeq4L-hIj8p8Rg" type="Transition" element="_512dgEBDEeq4L-hIj8p8Rg" source="_vp88IEBBEeq4L-hIj8p8Rg" target="_zCkdw0BBEeq4L-hIj8p8Rg">
      <children xsi:type="notation:DecorationNode" xmi:id="_512dhUBDEeq4L-hIj8p8Rg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_512dhkBDEeq4L-hIj8p8Rg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_512dh0BDEeq4L-hIj8p8Rg" x="147" y="2"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_512dgkBDEeq4L-hIj8p8Rg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_512dhEBDEeq4L-hIj8p8Rg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_512dg0BDEeq4L-hIj8p8Rg" points="[33, 2, 263, 242]$[302, 2, 532, 242]$[302, -238, 532, 2]$[-213, -238, 17, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_512diEBDEeq4L-hIj8p8Rg" id="(0.9504504504504504,0.8)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_512diUBDEeq4L-hIj8p8Rg" id="(0.919047619047619,0.5094339622641509)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
