/.StatechartTraversal.java._trace
/.StatechartTraversal2.java._trace
/.PreProcessPath.java._trace
/.PathPreProcessor.java._trace
/.PathPreProcessor.xtendbin
/.StatechartTraversal.xtendbin
/PathPreProcessor.java
/StatechartTraversal.java
