<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="hu.bme.mit.gamma.ui"
            name="Gamma Wizards">
      </category>
      <wizard
            category="hu.bme.mit.gamma.ui"
            class="hu.bme.mit.gamma.gui.wizards.NewGclWizard"
            descriptionImage="icons/gamma-icon-16.png"
            icon="icons/gamma-icon-16.png"
            id="hu.bme.mit.gamma.ui.wizards.NewGclWizard"
            name="Gamma Composite Component"
            project="false">
      </wizard>
      <wizard
            category="hu.bme.mit.gamma.ui"
            class="hu.bme.mit.gamma.gui.wizards.NewGammaAsynchronousAdapterWizard"
            icon="icons/gamma-icon-16.png"
            id="hu.bme.mit.gamma.ui.wizards.NewGammaAsynchronousAdapterWizard"
            name="Gamma Asynchronous Adapter"
            project="false">
      </wizard>
      <wizard
            category="hu.bme.mit.gamma.ui"
            class="hu.bme.mit.gamma.gui.wizards.NewGclStatechartWizard"
            icon="icons/gamma-icon-16.png"
            id="hu.bme.mit.gamma.ui.wizards.NewGclStatechartWizard"
            name="Gamma Statechart"
            project="false">
      </wizard>
      <wizard
            category="hu.bme.mit.gamma.ui"
            class="hu.bme.mit.gamma.gui.wizards.NewGclInterfaceWizard"
            descriptionImage="icons/gamma-icon-16.png"
            icon="icons/gamma-icon-16.png"
            id="hu.bme.mit.gamma.ui.wizards.NewGclInterfaceWizard"
            name="Gamma Interface"
            project="false">
      </wizard>
      <wizard
            category="hu.bme.mit.gamma.ui"
            class="hu.bme.mit.gamma.gui.wizards.NewGammaPropertyWizard"
            descriptionImage="icons/gamma-icon-16.png"
            icon="icons/gamma-icon-16.png"
            id="hu.bme.mit.gamma.ui.wizards.NewGammaPropertyWizard"
            name="Gamma Property"
            project="false">
      </wizard>
   </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="*">
       <newWizardShortcut
             id="hu.bme.mit.gamma.ui.wizards.NewGclWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="hu.bme.mit.gamma.ui.wizards.NewGclStatechartWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="hu.bme.mit.gamma.ui.wizards.NewGammaAsynchronousAdapterWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="hu.bme.mit.gamma.ui.wizards.NewGclInterfaceWizard">
       </newWizardShortcut>
       <newWizardShortcut
             id="hu.bme.mit.gamma.ui.wizards.NewGammaPropertyWizard">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard
          menuGroupId="hu.bme.mit.gamma"
          type="new"
          wizardId="hu.bme.mit.gamma.ui.wizards.NewGclWizard">
       <enablement>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IFile">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IFolder">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
          </or>
       </enablement>
    </commonWizard>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard
          menuGroupId="hu.bme.mit.gamma"
          type="new"
          wizardId="hu.bme.mit.gamma.ui.wizards.NewGammaAsynchronousAdapterWizard">
       <enablement>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IFile">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IFolder">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
          </or>
       </enablement>
    </commonWizard>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard
          menuGroupId="hu.bme.mit.gamma"
          type="new"
          wizardId="hu.bme.mit.gamma.ui.wizards.NewGclStatechartWizard">
       <enablement>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IFile">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IFolder">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
          </or>
       </enablement>
    </commonWizard>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard
          menuGroupId="hu.bme.mit.gamma"
          type="new"
          wizardId="hu.bme.mit.gamma.ui.wizards.NewGclInterfaceWizard">
       <enablement>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IFile">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IFolder">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
          </or>
       </enablement>
    </commonWizard>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard
          menuGroupId="hu.bme.mit.gamma"
          type="new"
          wizardId="hu.bme.mit.gamma.ui.wizards.NewGammaPropertyWizard">
       <enablement>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IFile">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IFolder">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
          </or>
       </enablement>
    </commonWizard>
 </extension>
 
 
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="hu.bme.mit.gamma.gui.perspectives.GammaPerspectiveFactory"
          fixed="false"
          icon="icons/gamma-icon-16.png"
          id="hu.bme.mit.gamma.gui.perspective"
          name="Gamma">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="hu.bme.mit.gamma.gui.perspective">
    </perspectiveExtension>
 </extension>

</plugin>
