<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="gamma.api.headless.application"
         name="gamma.api.headless.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="hu.bme.mit.gamma.api.headless.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="gamma.api.headless.application"
            name="Gamma Api Headless">
         <property
               name="appName"
               value="Gamma Api Headless">
         </property>
      </product>
   </extension>

</plugin>
