<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statechart -->
      <package
            uri="http://www.mit.bme.hu/gamma/statechart/Model/Composite"
            class="hu.bme.mit.gamma.statechart.composite.CompositeModelPackage"
            genModel="model/statechart.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statechart -->
      <package
            uri="http://www.mit.bme.hu/gamma/statechart/Model/Contract"
            class="hu.bme.mit.gamma.statechart.contract.ContractModelPackage"
            genModel="model/statechart.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statechart -->
      <package
            uri="http://www.mit.bme.hu/gamma/statechart/Model/Interface"
            class="hu.bme.mit.gamma.statechart.interface_.InterfaceModelPackage"
            genModel="model/statechart.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statechart -->
      <package
            uri="http://www.mit.bme.hu/gamma/statechart/Model/Phase"
            class="hu.bme.mit.gamma.statechart.phase.PhaseModelPackage"
            genModel="model/statechart.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statechart -->
      <package
            uri="http://www.mit.bme.hu/gamma/statechart/Model/Statechart"
            class="hu.bme.mit.gamma.statechart.statechart.StatechartModelPackage"
            genModel="model/statechart.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statechart -->
      <package
            uri="http://www.mit.bme.hu/gamma/statechart/Model/ActivityComposition"
            class="hu.bme.mit.gamma.statechart.ActivityComposition.ActivityCompositionPackage"
            genModel="model/statechart.genmodel"/>
   </extension>

</plugin>
