<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_4NXCcEBTEeqLYK5azouciQ" specification="interface Data:&#xD;&#xA;&#x9;in event getData : integer&#xD;&#xA;&#x9;out event sendData : integer" name="Interfaces"/>
  <notation:Diagram xmi:id="_4NXCd0BTEeqLYK5azouciQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_4NXCcEBTEeqLYK5azouciQ" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_4Ngzd0BTEeqLYK5azouciQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_4NgzeUBTEeqLYK5azouciQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4NgzekBTEeqLYK5azouciQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4Ngze0BTEeqLYK5azouciQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_4NgzfEBTEeqLYK5azouciQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4NgzfUBTEeqLYK5azouciQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4NgzfkBTEeqLYK5azouciQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4NXCeEBTEeqLYK5azouciQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_4NXCeUBTEeqLYK5azouciQ"/>
  </notation:Diagram>
</xmi:XMI>
