<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product.gamma.source.generate.application"
         name="product.gamma.source.generate.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="hu.bme.mit.gamma.headless.source.generate.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product.gamma.source.generate"
         point="org.eclipse.core.runtime.products">
      <product
            application="product.gamma.source.generate.application"
            name="name">
         <property
               name="hu.bme.mit.gamma.headless.source.generate"
               value="hu.bme.mit.gamma.headless.source.generate">
         </property>
      </product>
   </extension>

</plugin>
