<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_peOisF6QEeee0_nDeJNXNQ" specification="interface LightInputs:&#xA;  in event displayRed&#xA;  in event displayGreen&#xA;  in event displayYellow&#xA;  in event displayNone&#xA;  &#xA;interface Error:&#xA;  out event error" name="Monitor">
    <regions xmi:id="_peS0Il6QEeee0_nDeJNXNQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_peXsoF6QEeee0_nDeJNXNQ">
        <outgoingTransitions xmi:id="_pedMMF6QEeee0_nDeJNXNQ" target="_peZh1F6QEeee0_nDeJNXNQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_peZh1F6QEeee0_nDeJNXNQ" name="Other" incomingTransitions="_pedMMF6QEeee0_nDeJNXNQ _6XELwGI4EeeMqan5DllsWw _879xcGI4EeeMqan5DllsWw _Fl9GEGI5EeeMqan5DllsWw _H0KDAGI5EeeMqan5DllsWw">
        <outgoingTransitions xmi:id="_D7nAcF6REeee0_nDeJNXNQ" specification="LightInputs.&#xD;&#xA;displayGreen" target="_D7d2gF6REeee0_nDeJNXNQ"/>
        <outgoingTransitions xmi:id="_NxOasF6REeee0_nDeJNXNQ" specification="LightInputs.&#xD;&#xA;displayRed" target="_NxI7IF6REeee0_nDeJNXNQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_D7d2gF6REeee0_nDeJNXNQ" name="Green" incomingTransitions="_D7nAcF6REeee0_nDeJNXNQ _V1PUcF6REeee0_nDeJNXNQ">
        <outgoingTransitions xmi:id="_5xsfQF6SEeee0_nDeJNXNQ" specification="LightInputs.displayGreen /&#xD;&#xA;raise Error.error" target="_GJQjwF6REeee0_nDeJNXNQ"/>
        <outgoingTransitions xmi:id="_80UzIGCdEee7ELj1Pq16xg" specification="LightInputs.displayRed" target="_NxI7IF6REeee0_nDeJNXNQ"/>
        <outgoingTransitions xmi:id="_Fl9GEGI5EeeMqan5DllsWw" specification="LightInputs.&#xD;&#xA;displayNone" target="_peZh1F6QEeee0_nDeJNXNQ"/>
        <outgoingTransitions xmi:id="_H0KDAGI5EeeMqan5DllsWw" specification="LightInputs.&#xD;&#xA;displayYellow" target="_peZh1F6QEeee0_nDeJNXNQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_GJQjwF6REeee0_nDeJNXNQ" name="Error" incomingTransitions="_5xsfQF6SEeee0_nDeJNXNQ _C4Z1cGCeEee7ELj1Pq16xg"/>
      <vertices xsi:type="sgraph:State" xmi:id="_NxI7IF6REeee0_nDeJNXNQ" name="Red" incomingTransitions="_NxOasF6REeee0_nDeJNXNQ _80UzIGCdEee7ELj1Pq16xg">
        <outgoingTransitions xmi:id="_V1PUcF6REeee0_nDeJNXNQ" specification="LightInputs.displayGreen" target="_D7d2gF6REeee0_nDeJNXNQ"/>
        <outgoingTransitions xmi:id="_C4Z1cGCeEee7ELj1Pq16xg" specification="LightInputs.displayRed /&#xD;&#xA;raise Error.error" target="_GJQjwF6REeee0_nDeJNXNQ"/>
        <outgoingTransitions xmi:id="_6XELwGI4EeeMqan5DllsWw" specification="LightInputs.&#xD;&#xA;displayNone" target="_peZh1F6QEeee0_nDeJNXNQ"/>
        <outgoingTransitions xmi:id="_879xcGI4EeeMqan5DllsWw" specification="LightInputs.&#xD;&#xA;displayYellow" target="_peZh1F6QEeee0_nDeJNXNQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_peS0IF6QEeee0_nDeJNXNQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_peOisF6QEeee0_nDeJNXNQ" measurementUnit="Pixel">
    <children xmi:id="_peUCQF6QEeee0_nDeJNXNQ" type="Region" element="_peS0Il6QEeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_peV3cF6QEeee0_nDeJNXNQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_peV3cV6QEeee0_nDeJNXNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_peV3cl6QEeee0_nDeJNXNQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_peV3c16QEeee0_nDeJNXNQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_peXsoV6QEeee0_nDeJNXNQ" type="Entry" element="_peXsoF6QEeee0_nDeJNXNQ">
          <children xmi:id="_peY6wF6QEeee0_nDeJNXNQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_peZh0F6QEeee0_nDeJNXNQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_peZh0V6QEeee0_nDeJNXNQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_peZh0l6QEeee0_nDeJNXNQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_peY6wV6QEeee0_nDeJNXNQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_peY6wl6QEeee0_nDeJNXNQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_peXsol6QEeee0_nDeJNXNQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_peXso16QEeee0_nDeJNXNQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_peZh016QEeee0_nDeJNXNQ" x="255" y="282"/>
        </children>
        <children xmi:id="_peav8l6QEeee0_nDeJNXNQ" type="State" element="_peZh1F6QEeee0_nDeJNXNQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_pebXAF6QEeee0_nDeJNXNQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pebXAV6QEeee0_nDeJNXNQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pebXAl6QEeee0_nDeJNXNQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_peb-EF6QEeee0_nDeJNXNQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_peb-EV6QEeee0_nDeJNXNQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_peb-El6QEeee0_nDeJNXNQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_peclIF6QEeee0_nDeJNXNQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_peav816QEeee0_nDeJNXNQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_peav9F6QEeee0_nDeJNXNQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_peclIV6QEeee0_nDeJNXNQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_peclIl6QEeee0_nDeJNXNQ" x="245" y="207"/>
        </children>
        <children xmi:id="_D7frsF6REeee0_nDeJNXNQ" type="State" element="_D7d2gF6REeee0_nDeJNXNQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_D7gSwF6REeee0_nDeJNXNQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_D7gSwV6REeee0_nDeJNXNQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_D7gSwl6REeee0_nDeJNXNQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_D7iH8F6REeee0_nDeJNXNQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_D7ivAF6REeee0_nDeJNXNQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_D7ivAV6REeee0_nDeJNXNQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_D7ivAl6REeee0_nDeJNXNQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_D7frsV6REeee0_nDeJNXNQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_D7frsl6REeee0_nDeJNXNQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_D7ivA16REeee0_nDeJNXNQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_D7frs16REeee0_nDeJNXNQ" x="409" y="82"/>
        </children>
        <children xmi:id="_GJSY8F6REeee0_nDeJNXNQ" type="State" element="_GJQjwF6REeee0_nDeJNXNQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_GJTAAF6REeee0_nDeJNXNQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_GJTAAV6REeee0_nDeJNXNQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_GJTAAl6REeee0_nDeJNXNQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_GJTAA16REeee0_nDeJNXNQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_GJTnEF6REeee0_nDeJNXNQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GJTnEV6REeee0_nDeJNXNQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_GJUOIF6REeee0_nDeJNXNQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_GJSY8V6REeee0_nDeJNXNQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_GJSY8l6REeee0_nDeJNXNQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GJUOIV6REeee0_nDeJNXNQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GJSY816REeee0_nDeJNXNQ" x="241" y="1"/>
        </children>
        <children xmi:id="_NxKJQF6REeee0_nDeJNXNQ" type="State" element="_NxI7IF6REeee0_nDeJNXNQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_NxKwUF6REeee0_nDeJNXNQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NxKwUV6REeee0_nDeJNXNQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NxKwUl6REeee0_nDeJNXNQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NxKwU16REeee0_nDeJNXNQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NxKwVF6REeee0_nDeJNXNQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NxKwVV6REeee0_nDeJNXNQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NxLXYF6REeee0_nDeJNXNQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NxKJQV6REeee0_nDeJNXNQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NxKJQl6REeee0_nDeJNXNQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NxLXYV6REeee0_nDeJNXNQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NxKJQ16REeee0_nDeJNXNQ" x="55" y="82"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_peV3dF6QEeee0_nDeJNXNQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_peUCQV6QEeee0_nDeJNXNQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_peXFkF6QEeee0_nDeJNXNQ" x="220" y="10" width="636" height="486"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_pefocF6QEeee0_nDeJNXNQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_pegPgF6QEeee0_nDeJNXNQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pegPgV6QEeee0_nDeJNXNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pegPgl6QEeee0_nDeJNXNQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_pegPg16QEeee0_nDeJNXNQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pegPhF6QEeee0_nDeJNXNQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_peg2kF6QEeee0_nDeJNXNQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_peS0IV6QEeee0_nDeJNXNQ"/>
    <edges xmi:id="_peeaUF6QEeee0_nDeJNXNQ" type="Transition" element="_pedMMF6QEeee0_nDeJNXNQ" source="_peXsoV6QEeee0_nDeJNXNQ" target="_peav8l6QEeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_pefBYF6QEeee0_nDeJNXNQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pefBYV6QEeee0_nDeJNXNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pefBYl6QEeee0_nDeJNXNQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_peeaUV6QEeee0_nDeJNXNQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_peeaU16QEeee0_nDeJNXNQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_peeaUl6QEeee0_nDeJNXNQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_D7oOkF6REeee0_nDeJNXNQ" type="Transition" element="_D7nAcF6REeee0_nDeJNXNQ" source="_peav8l6QEeee0_nDeJNXNQ" target="_D7frsF6REeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_D7o1oF6REeee0_nDeJNXNQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_D7o1oV6REeee0_nDeJNXNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_D7o1ol6REeee0_nDeJNXNQ" x="42" y="27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_D7oOkV6REeee0_nDeJNXNQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_D7oOk16REeee0_nDeJNXNQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_D7oOkl6REeee0_nDeJNXNQ" points="[18, 2, -150, 127]$[170, 2, 2, 127]$[170, -101, 2, 24]"/>
    </edges>
    <edges xmi:id="_NxQP4F6REeee0_nDeJNXNQ" type="Transition" element="_NxOasF6REeee0_nDeJNXNQ" source="_peav8l6QEeee0_nDeJNXNQ" target="_NxKJQF6REeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NxQ28V6REeee0_nDeJNXNQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NxQ28l6REeee0_nDeJNXNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NxQ2816REeee0_nDeJNXNQ" x="37" y="-27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NxQP4V6REeee0_nDeJNXNQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NxQ28F6REeee0_nDeJNXNQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NxQP4l6REeee0_nDeJNXNQ" points="[-17, 2, 177, 127]$[-191, 2, 3, 127]$[-191, -101, 3, 24]"/>
    </edges>
    <edges xmi:id="_V1RJoF6REeee0_nDeJNXNQ" type="Transition" element="_V1PUcF6REeee0_nDeJNXNQ" source="_NxKJQF6REeee0_nDeJNXNQ" target="_D7frsF6REeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_V1RwsV6REeee0_nDeJNXNQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V1Rwsl6REeee0_nDeJNXNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V1Rws16REeee0_nDeJNXNQ" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_V1RJoV6REeee0_nDeJNXNQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_V1RwsF6REeee0_nDeJNXNQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_V1RJol6REeee0_nDeJNXNQ" points="[18, -24, -321, -14]$[337, -24, -2, -14]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V1U0AF6REeee0_nDeJNXNQ" id="(0.05,0.3018867924528302)"/>
    </edges>
    <edges xmi:id="_5xttYF6SEeee0_nDeJNXNQ" type="Transition" element="_5xsfQF6SEeee0_nDeJNXNQ" source="_D7frsF6REeee0_nDeJNXNQ" target="_GJSY8F6REeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_5xuUcV6SEeee0_nDeJNXNQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5xuUcl6SEeee0_nDeJNXNQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5xuUc16SEeee0_nDeJNXNQ" x="3" y="20"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5xttYV6SEeee0_nDeJNXNQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5xuUcF6SEeee0_nDeJNXNQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5xttYl6SEeee0_nDeJNXNQ" points="[-7, -48, 170, 61]$[-7, -96, 170, 13]$[-155, -96, 22, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5xwJoF6SEeee0_nDeJNXNQ" id="(0.6909090909090909,1.0)"/>
    </edges>
    <edges xmi:id="_80bg0GCdEee7ELj1Pq16xg" type="Transition" element="_80UzIGCdEee7ELj1Pq16xg" source="_D7frsF6REeee0_nDeJNXNQ" target="_NxKJQF6REeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_80fLMGCdEee7ELj1Pq16xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_80fLMWCdEee7ELj1Pq16xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_80fyQGCdEee7ELj1Pq16xg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_80bg0WCdEee7ELj1Pq16xg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_80cu8GCdEee7ELj1Pq16xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_80bg0mCdEee7ELj1Pq16xg" points="[-32, -25, 327, 5]$[-351, -25, 8, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_80mf8GCdEee7ELj1Pq16xg" id="(0.6545454545454545,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_80mf8WCdEee7ELj1Pq16xg" id="(0.775,0.37735849056603776)"/>
    </edges>
    <edges xmi:id="_C4c4wGCeEee7ELj1Pq16xg" type="Transition" element="_C4Z1cGCeEee7ELj1Pq16xg" source="_NxKJQF6REeee0_nDeJNXNQ" target="_GJSY8F6REeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_C4df0WCeEee7ELj1Pq16xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_C4df0mCeEee7ELj1Pq16xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_C4df02CeEee7ELj1Pq16xg" x="10" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_C4c4wWCeEee7ELj1Pq16xg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_C4df0GCeEee7ELj1Pq16xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_C4c4wmCeEee7ELj1Pq16xg" points="[20, -27, -176, 64]$[20, -88, -176, 3]$[190, -88, -6, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C4gjIGCeEee7ELj1Pq16xg" id="(0.0,0.5660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C4gjIWCeEee7ELj1Pq16xg" id="(0.020833333333333332,0.9622641509433962)"/>
    </edges>
    <edges xmi:id="_6XQZAGI4EeeMqan5DllsWw" type="Transition" element="_6XELwGI4EeeMqan5DllsWw" source="_NxKJQF6REeee0_nDeJNXNQ" target="_peav8l6QEeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_6XUqcGI4EeeMqan5DllsWw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6XUqcWI4EeeMqan5DllsWw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6XUqcmI4EeeMqan5DllsWw" x="-22" y="-38"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6XQZAWI4EeeMqan5DllsWw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6XSOMGI4EeeMqan5DllsWw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6XQZAmI4EeeMqan5DllsWw" points="[18, 11, -178, -114]$[195, 101, -1, -24]"/>
    </edges>
    <edges xmi:id="_88Bb0GI4EeeMqan5DllsWw" type="Transition" element="_879xcGI4EeeMqan5DllsWw" source="_NxKJQF6REeee0_nDeJNXNQ" target="_peav8l6QEeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_88CC4GI4EeeMqan5DllsWw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_88CC4WI4EeeMqan5DllsWw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_88CC4mI4EeeMqan5DllsWw" x="-13" y="43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_88Bb0WI4EeeMqan5DllsWw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_88Bb02I4EeeMqan5DllsWw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_88Bb0mI4EeeMqan5DllsWw" points="[0, 12, -157, -101]$[74, 12, -83, -101]$[74, 111, -83, -2]$[155, 111, -2, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_88G7YGI4EeeMqan5DllsWw" id="(1.0,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_88G7YWI4EeeMqan5DllsWw" id="(0.057692307692307696,0.33962264150943394)"/>
    </edges>
    <edges xmi:id="_FmAJYGI5EeeMqan5DllsWw" type="Transition" element="_Fl9GEGI5EeeMqan5DllsWw" source="_D7frsF6REeee0_nDeJNXNQ" target="_peav8l6QEeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_FmAwcGI5EeeMqan5DllsWw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FmAwcWI5EeeMqan5DllsWw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FmAwcmI5EeeMqan5DllsWw" x="21" y="46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FmAJYWI5EeeMqan5DllsWw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FmAJY2I5EeeMqan5DllsWw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FmAJYmI5EeeMqan5DllsWw" points="[-4, 1, 128, -105]$[-79, 1, 53, -105]$[-79, 101, 53, -5]$[-121, 101, 11, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FmFB4GI5EeeMqan5DllsWw" id="(0.09090909090909091,0.6226415094339622)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FmFB4WI5EeeMqan5DllsWw" id="(0.7692307692307693,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_H0MfQGI5EeeMqan5DllsWw" type="Transition" element="_H0KDAGI5EeeMqan5DllsWw" source="_D7frsF6REeee0_nDeJNXNQ" target="_peav8l6QEeee0_nDeJNXNQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_H0NGUWI5EeeMqan5DllsWw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_H0NGUmI5EeeMqan5DllsWw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_H0NGU2I5EeeMqan5DllsWw" x="2" y="-46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_H0MfQWI5EeeMqan5DllsWw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_H0NGUGI5EeeMqan5DllsWw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_H0MfQmI5EeeMqan5DllsWw" points="[-10, 10, 125, -104]$[-130, 95, 5, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H0RXwGI5EeeMqan5DllsWw" id="(0.21818181818181817,0.6415094339622641)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H0RXwWI5EeeMqan5DllsWw" id="(0.8461538461538461,0.39622641509433965)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
