<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.gamma.uppaal.backannotation.patterns.Patterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.uppaal.backannotation.patterns.Patterns" id="hu.bme.mit.gamma.uppaal.backannotation.patterns.Patterns">
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.simpleInstances"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.asynchronousSimpleInstances"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.instanceContainer"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.wrapperInstanceContainer"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.inputInstanceEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.outputInstanceEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.parameteredEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.topSyncSystemInEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.topSyncSystemOutEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.variableToSimpleEvent"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.variableToParameteredEvent"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.valueOfVariableToParameter"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.variableToEvent"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.locationToState"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.functions"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.constantDeclarations"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.edgesWithClock"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.templates"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.locations"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.variableDelcarations"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.isActiveVariables"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.topSyncComponents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.topAsyncCompositeComponents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.distinctWrapperInEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.wrapperInEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.wrapperOutEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.wrapperInstanceInEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.wrapperInstanceOutEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.topAsyncSystemInEvents"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.topAsyncSystemOutEvents"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.gamma.uppaal.backannotation.patterns.TracePatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.uppaal.backannotation.patterns.TracePatterns" id="hu.bme.mit.gamma.uppaal.backannotation.patterns.TracePatterns">
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.traces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.expressionTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.instanceTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.portTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.uppaal.backannotation.patterns.eventRepresentations"/>
    </group>
  </extension>
</plugin>
